/* ==========================================================================
 *                Shortcodes
   ========================================================================== */

 /*-----------------------------------------------------------------------------------*/
/*		Typography
/*-----------------------------------------------------------------------------------*/

/* DropCaps*/
.dropcap {
    float: left ;
    line-height: 30px;
    font-size: 60px;
    color: #0083b9;
    margin-right: 20px;
    line-height: 85%;
    font-weight: bold;
    text-transform: uppercase;
    font-family:georgia;
}
.square_dc {
    background:  #0083b9;
    color: #fff;
    height: 46px;
    width: 46px;
    font-size: 22px;
    text-align: center;
    line-height: 46px;
    margin-top: 5px;
}
.circle_dc {
    background:  #0083b9;
    color: #fff;
    height: 46px;
    width: 46px;
    font-size: 22px;
    text-align: center;
    line-height: 46px;
    margin-top: 7px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
/* Quotes */
.mom_quote:before {
    display: none;
}
.mom_quote {
    font-size: 15px;
    background-image: none;
    position: relative;
    background: #f5f5f5;
    color: #494949;
    padding: 20px;
    border: 0px solid #0083b9;
    border-left-width: 4px;
    margin: 0;
    margin-bottom: 20px;
    font-style: normal;
}
.mom_quote *:last-child {
    margin-bottom: 0;
}
.mom_quote .quote-arrow {
    position: absolute;
    height: 0;
    width: 0;
    left: -1px;
    top: 50%;
    margin-top: -7px;
    border-width: 7px;
    border-color: #0083b9;
    border-style: solid;
    border-top-color: rgba(0, 0, 0, 0) !important;
    border-bottom-color: rgba(0, 0, 0, 0) !important;
    border-right-width: 0;
}
.quote_right {
    float: right;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 240px;
    margin-top: 5px;
}
.quote_left {
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 240px;
    margin-top: 5px;
}

/* Testimonials */
.mom_testimonial {
    background-image: none;
    padding: 20px;
    background: #f7f7f7;
    border:1px solid #eaeaea;
    font-style: italic;
    font-size:16px;
    font-family: 'Roboto Slab', serif;
    position: relative;
    padding-left: 50px;
    margin: 0;
}
.mom_testimonial p {
    font-size: 16px;
}
.mom_testimonial *:last-child {
    margin-bottom: 0;
}
span.leftquote {
    color: #b5b5b5;
    font-size: 55px;
    line-height: 50px;
    position: absolute;
    left: 17px;
    top: 17px;
}
.tesim_arrow_bot, .tesim_arrow {
	top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;
	border-left: 0;
}
.tesim_arrow {
	border-color: rgba(247, 247, 247, 0); border-top-color: #f7f7f7; border-width: 20px; left: 20px;
}
.tesim_arrow_bot {
 	border-color: rgba(234, 234, 234, 0); border-top-color: #eaeaea; border-width: 22px; left: 19px;
}

.testim_person  {
    margin-top: 30px;
    overflow: hidden;
    margin-bottom: 25px;
}
.testim_person  br {
    display: none;
}
.testim_person img {
    border:1px solid #eaeaea;
    float: left;
    margin-right: 10px;
    max-width: 53px;
    margin-bottom: 0 !important;
}
.testim_person  h3 {
    margin-bottom: 5px;
    font-size: 15px;
    padding-top: 7px;
}
.testim_person  h4 {
    font-size: 13px;
    font-family: arial;
    color: #9f9f9f;
    margin-bottom: 0;
}

/*---------------------------------
            Testimonials Slider
---------------------------------*/
.testim_slider_wrap > div {
	float: left;
	margin-right: 10px;
}
.testim_slider_wrap > br {
	display: none !important;
}
/*-----------------------------------------------------------------------------------*/
/*		Buttons
/*-----------------------------------------------------------------------------------*/
.mom_button, .button{
	background: none repeat scroll 0 0 #262626;
	border: 0 solid;
	color: #FFFFFF;
	display: inline-block;
	font-weight: 400;
	line-height: 36px;
	padding: 0 16px;
}
a.mom_button {
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
}
a.mom_button:active {
    top: 1px;
}
a.mom_button:hover {
    color: #000000;
}
a.mom_button + .divider {
    margin-top: 15px;
}
.mom_button_ob {
    border: 5px solid #D7DFEA;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
}
.mom_button_ob a:active {
    top: 0;
}
.mom_button_ob a {
    margin: 0;
}
.bt_icon {
    float: left;
    font-size: 18px;
    margin-right: 8px;
    opacity: 0.9;
    position: relative;
    top: 0;
    vertical-align: middle;
}
.big_bt .bt_icon {
    font-size: 22px;
    margin-right: 10px;
}
.bigger_bt .bt_icon {
    font-size: 26px;
    margin-right: 10px;
}
a.small_bt i {
    font-size: 19px;
}
.big_bt i {
    font-size: 25px;
}
a.border1_bt {
    border-width: 1px !important;
}
a.noborder_bt {
    border: medium none !important;
}
.small_bt {
    font-size: 12px;
    padding: 5px 10px;
}
a.big_bt {
    font-size: 17px;
    line-height: 44px;
    padding: 0 25px;
}
a.bigger_bt {
    font-size: 19px;
    font-weight: 600;
    line-height: 64px;
    padding: 0 30px;
}
a.gray_bt {
    background: none repeat scroll 0 0 #ECF0F1;
    color: #898989;
}
.ob_gray_bt {
    border-color: #F7F8F8;
}
a.gray2_bt {
    background: none repeat scroll 0 0 #95A5A6;
    color: #FFFFFF;
}
.ob_gray2_bt {
    border-color: #D8DFDF;
}
a.orange2_bt {
    background: none repeat scroll 0 0 #F09217;
    color: #FFFFFF;
}
.ob_orange_bt {
    border-color: #FFECC7;
}
a.black_bt {
    background: none repeat scroll 0 0 #333333;
}
a.black_bt:hover {
    color: #FFFFFF;
}
.ob_black_bt {
    border-color: #B9B9B9;
}
a.orange_bt {
    background: none repeat scroll 0 0 #E67E22;
    color: #FFFFFF;
}
.ob_orange_bt, .ob_orange2_bt {
    border-color: #FFE5C1;
}
a.blue_bt {
    background: none repeat scroll 0 0 #3498DB;
    color: #FFFFFF;
}
a.blue_bt:hover {
}
.ob_blue_bt {
    border-color: #C7E1FF;
}
a.blue2_bt {
    background: none repeat scroll 0 0 #34495E;
    color: #FFFFFF;
}
a.red_bt {
    background: none repeat scroll 0 0 #E74C3C;
    color: #FFFFFF;
}
a.red_bt:hover {
}
.ob_red_bt {
    border-color: #FFE6E2;
}
a.green_bt {
    background: none repeat scroll 0 0 #2ECC71;
    color: #FFFFFF;
}
a.green_bt:hover {
}
.ob_green_bt {
    border-color: #C2FFD0;
}
a.purple_bt {
    background: none repeat scroll 0 0 #A66BBE;
    color: #FFFFFF;
}
a.purple_bt:hover {
}
.ob_purple_bt {
    border-color: #F4DCFF;
}
a.yellow_bt {
    background: none repeat scroll 0 0 #F1C40F;
    color: #FFFFFF;
}
.ob_yellow_bt {
    border-color: #FFF5B5;
}
a.pink_bt {
    background: none repeat scroll 0 0 #F18CAA;
    color: #FFFFFF;
}
.ob_pink_bt {
    border-color: #FFDFE9;
}
a.lime_bt, a.green2_bt {
    background: none repeat scroll 0 0 #1ABC9C;
    color: #FFFFFF;
}
.ob_lime_bt, .ob_green2_bt {
    border-color: #B2F4E1;
}
a.brown_bt {
    background: none repeat scroll 0 0 #D2A985;
    color: #FFFFFF;
}
.ob_brown_bt {
    border-color: #F3E6D6;
}

/*-----------------------------------------------------------------------------------*/
/*		Accordion 
/*-----------------------------------------------------------------------------------*/
.accordion {
	margin-bottom:25px;
        border:1px solid #e0e0e0;
        border-bottom: none;
        background: #fff;
}
.base-box .accordion {
    border-color: #eaeaea;
}
.accordion .wpb_text_column:last-child {
    margin-bottom: 0;
}
.accordion > ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
.accordion > ol > li {
    margin-bottom: 0;
}
.wpb_accordion_section:last-child .acc_title, .wpb_accordion_section:last-child .ui-accordion-header-active+.acc_content {
    border-color: #e0e0e0;
}
.base-box .wpb_accordion_section:last-child .acc_title, .base-box .wpb_accordion_section:last-child .ui-accordion-header-active+.acc_content {
    border-color: #eaeaea;
}
.accordion .acc_title {
	height:38px;
	line-height:38px;
        background: #f8f8f8;
        border-bottom: 1px solid #eaeaea;
        position: relative;
        padding: 0 20px;
	margin-top: 0;
	margin-bottom:0;
	cursor:pointer;
	font-size: 16px;
	color: #6d6d6d;
       outline: none;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.accordion .acc_title.active, .accordion .acc_title:hover, .accordion .acc_title.ui-accordion-header-active  {
	cursor:text;
        color: #373c43;
        background: #fff;
}
.accordion h2:hover:not(.active)  {
	cursor: pointer;
}
.accordion h2.active+.acc_content, .accordion .ui-accordion-header-active+.acc_content {
    border-bottom: 1px solid #eaeaea;
}
.accordion .acc_content {
	padding:20px;
	display:none;
	line-height: 1.5em;
}
.accordion .acc_content > div > *:last-child {
	margin-bottom: 0;
}
.accordion li:first-child .acc_content {
    display: block;
}
.acc_vertical .acc_handle {
    position: absolute;
    right: 12px;
}
.acc_horizontal .acc_handle {
    position: absolute;
    left: 15px;
}
.acc_handle  {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #ccc;
}
/*Arrows*/
.acch_arrows {
	font-size: 18px;
	top: 50%;
	margin-top: -9px;
	right: 10px;
	font-family: 'enotype';
}
.acch_arrows:before {
	content: "\e6ce";
}

.accordion h2.active .acch_arrows:before, .accordion .ui-accordion-header-active .acch_arrows:before {
	content: "\e6cf";
}
/*Numbers*/
.acch_numbers {
    line-height: 38px;
    font-size: 15px;
    font-style: normal;
}

/*Plus & minus*/
.acch_pm {
    	font-family: 'font-awesome';
    font-size: 14px;
    top: 50%;
    margin-top: -6px;
    right: 10px !important;
}
.acch_pm:before {
    content: "\e661";
}
.accordion h2.active .acch_pm:before {
    content: "\e662";
}

/* Space */
.acc_space {
    border: none;
}
.acc_space .acc_title {
     border: 1px solid #eaeaea;
     margin-bottom: 4px;
}
.acc_space h2.active+.acc_content {
    border: none;
}
.acc_title i[class*="-icon-"] {
    font-size: 20px;
    text-align: right;
    width: 20px;
    margin-right: 10px;
    margin-left: -10px;
    vertical-align: middle;
    float: left;
    line-height: inherit;
}
.acc_ico {
    margin-right: 10px;
    margin-top: -2px;
    vertical-align: middle;
    margin-left: -10px;
}
.acc_space .acc_content {
	background: none !important;
}
.toggle_acc .acc_title {
	cursor: pointer !important;
}

/*-----------------------------------------------------------------------------------*/
/*		Tabs 
/*-----------------------------------------------------------------------------------*/
.main_tabs {
    padding: 0;
    position: relative;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
}
.main_tabs .tabs {
    box-sizing: content-box;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.main_tabs .tabs {
    background: none repeat scroll 0 0 #f2f2f2;
    border-bottom: 1px solid #e1e1e1;
    clear: both;
    height: 38px;
    margin: 0;
    padding: 10px 10px 0;
}
.main_tabs .tabs li:before {
    display: none;
}
.main_tabs .tabs li:first-child {
    border-left-width: 1px;
}
.main_tabs.tabs_v1 .tabs li:first-child, .main_tabs.tabs_v2 .tabs li:first-child, .main_tabs.tabs_v3 .tabs li:first-child {
    border-left-width: 0;
}
.main_tabs .tabs li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e1e1e1 #e1e1e1 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0 0;
    box-sizing: content-box;
    float: left;
    line-height: 38px;
    margin: 0;
    padding: 0;
    position: relative;
}
.main_tabs .tabs a {
    color: #6d6d6d;
    display: block;
    padding: 0 10px;
}
.main_tabs .tabs a.current {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #0083B9;
}
.main_tabs .tabs a.current:before {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.tabs-content-wrap {
    clear: both;
}
.main_tabs .tab-content {
    display: none;
    padding: 20px;
}
.main_tabs .tab-content .tab-content {
    padding: 0;
}

.main_tabs.tabs_v1 .tab-content, .main_tabs.tabs_v3 .tab-content, .main_tabs.tabs_h1 .tab-content {
}
/* Vertical */
.tabs_v1:before, .tabs_v2:before {
    content: '';
    position: absolute;
    left: 149px;
    width: 1px;
    height: 100%;
    background: #e1e1e1;
    z-index: 30;
}
.tabs_v1 ul.tabs li a {
	line-height: 37px;
}
.tabs_v1 ul.tabs, .tabs_v2 ul.tabs, .tabs_v3 ul.tabs  {
    float: left;
    width: 150px;
    margin-bottom: 20px;
    height: auto;
    border-bottom: none;
    z-index: 20;
    position: relative;
    padding: 0;
}
.tabs_v1 ul.tabs li, .tabs_v2 ul.tabs li, .tabs_v3 ul.tabs li{
    float: none;
    border-top: none;
    height: auto;
    border-left-width:0;
    border-bottom: 1px solid #e1e1e1;
}

.tabs_v1 .tabs-content-wrap, .tabs_v2 .tabs-content-wrap, .tabs_v3 .tabs-content-wrap{
    margin-left: 150px;
    border: none;
    position: relative;
    clear:none;
}

.tabs_v1 ul.tabs li a:before, .tabs_v2 ul.tabs li a:before, .tabs_v3 ul.tabs li a:before {
    width: 3px;
    height: 100%;
    top: 0;
}
/* Vertical 1 */
.tabs_v1 ul.tabs li a:before {
    left: -1px;
}
.tabs_v1 ul.tabs li a.current {
    border-right: none;
    height:auto;
}
/* Vertical 3 */
.tabs_v3 ul.tabs {
    width: 234px;
}
.tabs_v3 ul.tabs li {
    border-bottom: 1px solid #e1e1e1;
    height: 49px;
    line-height: 49px;
}
.tabs_v3 ul.tabs li a {
    height: 49px;
    line-height: 48px;
    font-size:16px;
    font-style: normal;
    padding-left: 10px;
}
.tabs_v3 ul.tabs li a.current {
    border-right: none;
}
.tabs_v3 .tabs-content-wrap {
    margin-left: 234px;
}
.tabs_v3:before {
    content: '';
    position: absolute;
    left: 233px;
    width: 1px;
    height: 100%;
    background: #e1e1e1;
}
/*Tab Icons */
.tab_ico {
    margin-right: 10px;
    float: left;
    width: 25px;
}
.tab_ico img {
/*    margin-top: -3px;
*/
}
ul.tabs li i[class*='-icon-'] {
    margin-right: 5px;
    margin-left: -5px;
    width: 25px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    font-size:16px;
    margin-top: -3px;
}
.tabs_v3 .tab_ico {
    margin-right: 15px;
    width: 32px;
}
.tabs_v3  ul.tabs li i[class*='-icon-'] {
    margin-right: 8px;
    width: 32px;
    font-size: 19px;
    margin-top: -2px;
    margin-left: 0;
}
/*-----------------------------------------------------------------------------------*/
/*		Lists
/*-----------------------------------------------------------------------------------*/

.mom_list {
    margin-bottom: 20px;
}
.mom_list ul {
    margin-bottom: 0;
    padding: 0;
}
.mom_list li {
    line-height: 18px;
    list-style: none outside none;
    margin-bottom: 6px;
    padding-left: 26px;
    transition: all 0.2s linear 0s;
}
.mom_list li i {
    display: inline-block;
    font-size: 16px;
    margin-left: -26px;
    margin-right: 9px;
    position: relative;
    top: 2px;
    transition: all 0.2s linear 0s;
    vertical-align: baseline;
}
.mom_list_square_bg ul li i {
    background: none repeat scroll 0 0 #95A5A6;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 17px;
    margin-right: 10px;
    text-align: center;
    top: 2px;
    width: 16px;
}
.mom_list_square_bg ul li, .mom_list_circle_bg ul li {
}
.mom_list_circle_bg ul li i {
    background: none repeat scroll 0 0 #95A5A6;
    border-radius: 50%;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 17px;
    margin-right: 10px;
    text-align: center;
    top: 0;
    width: 16px;
}
.mom_icon_box {
    margin-bottom: 40px;
}
.iconbox_wrap {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FAFAFA;
    border-color: #E9E9E9;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 3px;
    box-sizing: border-box;
    color: #777777;
    margin-bottom: 25px;
    padding: 15px;
}
.iconbox_wrap h3 {
}
.iconbox_wrap p:last-child {
    margin-bottom: 0;
}
.one_fourth .iconbox_wrap {
    padding: 10px;
}
.one_fourth .iconbox_wrap h3 {
    font-size: 14px;
}
.one_fourth .iconbox_wrap p {
    font-size: 11px;
}
.mom_icon {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
    vertical-align: middle;
}
.mom_iconbox {
    margin-bottom: 25px;
    padding-left: 47px;
    position: relative;
}
.iconbox_wrap .mom_iconbox {
    margin-bottom: 0;
}
.mom_iconbox p {
    margin-bottom: 15px;
}
.mom_iconbox .iconb_wrap {
    position: absolute;
}
.iconb_left .iconb_wrap {
    left: 0;
}
.iconb_wrap + br {
    display: none;
}
.iconb_right {
    padding-left: 0;
    padding-right: 47px;
}
.iconb_right .iconb_wrap {
    margin-left: 15px;
    margin-right: 0;
    right: 0;
}
.iconb_center {
    padding: 0;
}
.iconb_center .iconb_wrap {
    display: block;
    margin: auto auto 15px;
    position: relative;
    text-align: center;
}
.iconb_center .mom_icon {
    display: inline-block;
    float: none;
    margin-right: 0;
    position: relative;
}
.iconb_middle_left .iconb_wrap {
    left: 0;
    top: 50%;
}
.iconb_middle_right {
    padding-left: 0;
    padding-right: 47px;
}
.iconb_middle_right .iconb_wrap {
    right: 0;
    top: 50%;
}
.iconb_middle_right .iconb_wrap {
    margin-left: 15px;
    margin-right: 0;
    right: 0;
}
.mom_iconbox h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.iconb_wrap {
    color: #262626;
}
.mom_iconbox_square {
    background: none repeat scroll 0 0 #262626;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s linear 0s;
}
.mom_iconbox_circle {
    background: none repeat scroll 0 0 #262626;
    border-radius: 50%;
    box-sizing: border-box;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    transition: all 0.2s linear 0s;
}
.mom_iconbox_square .mom_icon, .mom_iconbox_circle .mom_icon {
    line-height: inherit;
    margin: 0;
    vertical-align: inherit;
}
.mom_icona {
    display: inline-block;
    float: left;
    line-height: 1;
    margin-right: 10px;
    position: relative;
    top: 5px;
}
.mom_icona.mom_iconbox_square, .mom_icona.mom_iconbox_circle {
    margin-right: 15px;
}
.mom_icona .mom_icon {
    margin: 0;
}
.iconb_wrap .border_increase_effect {
    border: 3px solid #262626;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(1);
    transition: all 0.3s linear 0s;
    width: 100%;
}
.mom_iconbox_circle .border_increase_effect {
    border-radius: 50%;
}
.no-touch .iconb_wrap:hover:not(.mom_icon_has_border) .border_increase_effect {
    opacity: 1;
    transform: scale(1.2);
}
.no-touch .iconb_wrap.mom_icon_has_border:hover .border_increase_effect {
    opacity: 1;
    transform: scale(1.3);
}
.iconb_wrap .border_decrease_effect {
    border: 3px solid #262626;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(1.45);
    transition: all 0.3s linear 0s;
    width: 100%;
}
.mom_iconbox_circle .border_decrease_effect {
    border-radius: 50%;
}
.no-touch .iconb_wrap:hover:not(.mom_icon_has_border) .border_decrease_effect {
    opacity: 1;
    transform: scale(1.2);
}
.no-touch .iconb_wrap.mom_icon_has_border:hover .border_decrease_effect {
    opacity: 1;
    transform: scale(1.3);
}
.no-touch .iconb_wrap.icon_move_effect_wrap:hover i {
    animation: 0.4s ease 0s normal forwards 1 toRightFromLeft;
}
@-moz-keyframes toRightFromLeft {
49% {
    transform: translate(100%);
}
50% {
    opacity: 0;
    transform: translate(-100%);
}
51% {
    opacity: 1;
}
}
@-moz-keyframes toRightFromLeft {
49% {
    transform: translate(100%);
}
50% {
    opacity: 0;
    transform: translate(-100%);
}
51% {
    opacity: 1;
}
}
.mom_box_sc{
	border: 1px solid #e1e1e1;
    margin-bottom: 20px;
}
.mom_box_sc.base-box {
    padding: 20px 24px;
}
.mom_box_sc {
    position: relative;
}
.mom_box_sc p {
    margin-bottom: 15px;
}
.mom_box_sc .mom_icona {
    margin-left: -3px;
}
.box_left {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
}
.box_right {
    float: right;
    margin-bottom: 5px;
    margin-left: 5px;
}
.mom_box_sc a.button {
    margin-bottom: 0;
}
.mom_box_sc > *:last-child {
    margin-bottom: 0;
}
.base-box.mom_box_sc.mom_box_sc_info {
    background-color: #BDE2FF;
    border-color: #97D2FF;
    color: #5089B4;
}
.base-box.mom_box_sc.mom_box_sc_note {
    background-color: #FFEBB5;
    border-color: #FFD664;
    color: #9B791F;
}
.base-box.mom_box_sc.mom_box_sc_error {
    background-color: #FFC8C8;
    border-color: #F3B8B8;
    color: #A65959;
}
.base-box.mom_box_sc.mom_box_sc_tip {
    background-color: #E9ECB3;
    border-color: #D8DE82;
    color: #777A42;
}
.base-box.mom_callout {
    padding: 35px 40px;
}
.callout_button .mom_button, .callout_button .mom_button_ob {
    margin: 0;
}
.social_icons_wrap {
    position: relative;
}
.social_icons_wrap {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 30px;
    text-align: center;
}
.social_icons_wrap .mom_icona {
    float: none;
    margin-right: 0;
    text-align: center;
}
.social_icons_wrap .mom_icona .mom_icon {
    color: #666666;
}
.social_icons_wrap .mom_icona.mom_iconbox_square .mom_icon, .social_icons_wrap .mom_icona.mom_iconbox_circle .mom_icon {
    color: #FFFFFF;
}
.social_icons_wrap .video_wrap {
    margin-bottom: 20px;
}
.mom_map iframe {
    margin-bottom: 0;
}
.mom_map {
    margin-bottom: 25px;
}

/*-----------------------------------------------------------------------------------*/
/*	6.	Toggle ShortCode
/*-----------------------------------------------------------------------------------*/

.toggle_wrap {
	background:#f4f4f4;
	border: 1px solid #eaeaea;
	padding: 0px 10px;
	position: relative;
	margin-bottom: 5px;

}
.toggle_wrap+*:not(.toggle_wrap) {
	margin-top: 20px;
}

.toggle_wrap:before {
	content: '';
	position: absolute;
	left: -1px;
	top: -1px;
	width: 3px;
	height: 100%;
	background: #eaeaea;
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
	
}
h4.toggle_title  {
	cursor:pointer;
	color: #6d6d6d;
	font-size: 13px;
	margin-bottom:0;
	padding: 9px 0;
}
.toggle_minimal h4.toggle_title {
	color: #494949;
}
.toggle_content {
	margin-top: 10px;
	padding: 0 12px;
}
.toggle_content p {
	margin-bottom: 20px;
}

.toggle_active:not(.toggle_minimal) {
	background:#fff !important;
}
.toggle_wrap.toggle_active h4 {
	color: #2b2b2b;
}
.toggle_active:before {
	background: #0083b9;
	border-color: #0083b9;
}
.toggle_closed .toggle_content {
	display:none;
}

/***********************************
 * toogle min
 ***********************************/
.toggle_minimal {
	border-bottom:1px dotted #dedede;
}
.toggle_minimal h4.toggle_title {
	font-size: 14px;
}
/*Arrows*/
.toggle_icon {
	font-family: 'momizat';
	speak: none;
	font-style: normal;
	font-weight: normal;
	vertical-align: middle;
	float: left;
	margin-right: 3px;
	-webkit-font-smoothing: antialiased;
        text-transform: none !important;
	font-size: 18px;
	top: 10px;
}
.toggle_active .toggle_icon:before {
	color: #0083b9;
	
}
.toggle_arrows {
	margin-top: 1px;
}
.toggle_arrows:before {
	content: "\e067";

}
.toggle_active .toggle_arrows:before {
	content: "\e069";
}

.toggle_pm {
	margin-top: -1px;
}
.toggle_pm:before {
	content: "\e082";
	font-size: 15px;
}
.toggle_active .toggle_pm:before {
	content: "\e083";
}
.toggle_qm {
	font-size: 16px;
	margin-right: 7px;
	font-family: arial;
}
.toggle_qm:before {
	content: "Q";
}
/*Lightbox*/
.mom_lightbox {
	margin-bottom: 25px;
	position: relative;
}
.mom_lightbox img {
	margin-bottom: 0 !important;
}
.highlight {
       background:#ffff99;
}

/*---------------------------------
            Images Grid
---------------------------------*/
.mom_images_grid {
    overflow: hidden;
}
.mom_images_grid ul {
    list-style: none outside none;
    overflow: hidden;
    padding: 0;
}
.mom_images_grid ul:not(.mom-carousel) {
    margin: 0 -5px;
}
.mom_images_grid ul li {
    box-sizing: border-box;
    float: left;
    margin-bottom: 9px;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    width: 33.33%;
}
.mom_images_grid.mom_images_three_cols ul li:nth-child(3n+3) {
    margin-right: 0;
}
.mom_images_four_cols ul li {
    width: 25%;
}
.mom_images_grid.mom_images_four_cols ul li:nth-child(4n+4) {
    margin-right: 0;
}
.mom_images_five_cols ul li {
    width: 20%;
}
.mom_images_grid.mom_images_five_cols ul li:nth-child(5n+5) {
    margin-right: 0;
}
.mom_images_six_cols ul li {
    width: 16.66%;
}
.mom_images_grid.mom_images_six_cols ul li:nth-child(6n+6) {
    margin-right: 0;
}
.mom_images_grid ul li img {
    backface-visibility: hidden;
    margin: 0 !important;
}
.mom_images_grid ul li img:hover {
}
.mom_images_grid ul.mom-carousel li {
    width: 100%;
}
.main_img_frame img {
    border: 1px solid #EAEAEA;
    padding: 5px;
}
.dark_text_shadow {
    text-shadow: 0 2px 0 #000000;
}
.mom-carousel .owl-item {
    -moz-user-select: none;
    float: left;
    min-height: 1px;
    position: relative;
}
.mom-carousel.owl-text-select-on .owl-item {
    -moz-user-select: all;
}
.mom-carousel .owl-grab {
    cursor: grab;
}
.mom-carousel .owl-item img.owl-lazy {
    opacity: 0;
}
.mom-carousel .owl-item img {
    display: block;
    opacity: 1;
    transform-style: preserve-3d;
    transition-duration: 400ms;
    transition-property: opacity;
    transition-timing-function: ease;
    width: 100%;
}
.mom-carousel .owl-stage:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.mom-carousel {
    position: relative;
    width: 100%;
    z-index: 1;
}
.mom-carousel .owl-loaded {
    display: block;
}
.mom-carousel .owl-stage {
    position: relative;
}
.mom-carousel .owl-stage-outer {
    overflow: hidden;
    position: relative;
}
.mom-carousel .owl-stage-outer.owl-height {
    transition: height 500ms ease-in-out 0s;
}
.mom-carousel .owl-video-wrapper {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    position: relative;
}
.mom-carousel .owl-controls .owl-nav div, .mom-carousel .owl-controls .owl-dot {
    -moz-user-select: none;
    cursor: pointer;
}
.mom-carousel .owl-video-play-icon {
    background: url("owl-video-play.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 80px;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    transition-duration: 100ms;
    transition-property: scale;
    transition-timing-function: ease;
    width: 80px;
    z-index: 1;
}
.mom-carousel .owl-video-play-icon:hover {
    transform: scale(1.3, 1.3);
}
.mom-carousel .owl-video-playing .owl-video-tn, .mom-carousel .owl-video-playing .owl-video-play-icon {
    display: none;
}
.mom-carousel .owl-video-tn {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    opacity: 0;
    transition-duration: 400ms;
    transition-property: opacity;
    transition-timing-function: ease;
}
.mom-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
}
.mom-carousel .owl-refresh .owl-item {
    display: none;
}
/******************************
 *      Progress Bar
 ******************************/
.progress_outer {
	margin-bottom: 25px;	
}
.progress_bar {
       position: relative;
       margin-bottom: 10px;
}
div.progress_bar span {
    color: #fff;
    font-size: 14px;
    line-height: 27px;
    display: block;
    height: 25px;
    margin-bottom: 8px;
    padding: 0 9px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
       -moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.progress_wrap {
       position: relative;
}
.parograss_text {
       border: 1px solid #eaeaea;
       position: relative;
       color: #7b4c01;
       font-size: 12px;
       height: 25px;
       text-align: center;
       -moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.parograss_text span {
       position: relative;
       z-index: 2;
}
.parograss_inner {
       background: #0083b9;
       height: 25px;
       position: absolute;
       top: 0;
       left: 0;
       z-index: 1;
       display: none;
}
@-moz-keyframes animate-bar {
    0%   { width: 0%; }
}

@-webkit-keyframes animate-bar {
    0%   { width: 0%; }
}

@-ms-keyframes animate-bar {
    0%   { width: 0%; }
}

@-o-keyframes animate-bar {
    0%   { width: 0%; }
}

@-keyframes animate-bar {
    0%   { width: 0%; }
}

@-keyframes animate-opacity {
    0%   { opacity: 0;
filter:alpha(opacity=0); }
}

@-moz-keyframes animate-opacity {
    0%   { opacity: 0;
filter:alpha(opacity=0); }
}

@-webkit-keyframes animate-opacity {
    0%   { opacity: 0;
filter:alpha(opacity=0); }
}

@-ms-keyframes animate-opacity {
    0%   { opacity: 0;
filter:alpha(opacity=0); }
}

@-o-keyframes animate-opacity {
    0%   { opacity: 0;
filter:alpha(opacity=0); }
}


.ani-bar {
	-moz-animation: animate-bar 1.2s 1 ease-in-out;
	-webkit-animation: animate-bar 1.2s 1 ease-in-out;
	-ms-animation: animate-bar 1.2s 1 ease-in-out;
	-o-animation: animate-bar 1.2s 1 ease-in-out;
	animation: animate-bar 1.2s 1 ease-in-out;
}
.ani-opacity {
	-moz-animation: animate-opacity 1.2s 1 linear;
	-webkit-animation: animate-opacity 1.2s 1 linear;
	-ms-animation: animate-opacity 1.2s 1 linear;
	-o-animation: animate-opacity 1.2s 1 linear;
	animation: animate-opacity 1.2s 1 linear;
}
.mom_graph_strips {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;			
	background-image: -webkit-gradient(linear, left top, right bottom,
						color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
						color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
						color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
						to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
						transparent 75%, transparent);            
	
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;
}
@-webkit-keyframes animate-stripes { 
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@-moz-keyframes animate-stripes {
	0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

/* ==========================================================================
 *                Dividers
   ========================================================================== */
.mom_hr {
	margin-bottom: 30px;
	margin-top: 20px;
	clear: both;
}
.tab-content .mom_hr {
    clear: none;
}
.mom_hr .mom_inner_hr {
	height: 0;
	border-bottom:1px solid #e7e7e7;
	display: block;
	position: relative;
}
.mom_hr.mom_hr_dashs .mom_inner_hr {
    border-bottom-style: dashed;
}
.mom_hr.mom_hr_dots .mom_inner_hr {
    border-bottom-style: dotted;
}

.mom_hr .mom_inner_hr i {
	position: absolute;
	background: #fff;
	border: 1px solid #e3e3e3;
	height: 9px;
	width: 10px;
	top:-5px;
	left: 50%;
	margin-left: -5px;
}
.mom_hr .mom_inner_hr i:before, .mom_hr .mom_inner_hr i:after {
	content: '';
	position: absolute;
	width: 5px;
	height: 5px;
	top:2px;
	background: #aeaeae;
}
.mom_hr.mom_hr_circle i, .mom_hr.mom_hr_circle .mom_inner_hr i:before, .mom_hr.mom_hr_circle .mom_inner_hr i:after {
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.mom_hr .mom_inner_hr i:before {
	left: -9px;
}
.mom_hr .mom_inner_hr i:after {
	right: -9px;
}
.mom_hr_short {
	padding: 0 34%;
}
.mom_hr_medium {
	padding: 0 18%;
}
.hr_icon_left .mom_inner_hr i {
	left: 0;
	margin-left: 0;
}
.hr_icon_left .mom_inner_hr i:before, .hr_icon_right .mom_inner_hr i:after {
	display: none;
}
.mom_hr_short.hr_icon_left {
	padding-left: 0;
	padding-right: 60%;
}
.hr_icon_right .mom_inner_hr i {
	right: 0;
	left: auto;
	margin-right: 0;
}
.mom_hr_short.hr_icon_right {
	padding-right: 0;
	padding-left: 60%;
}

/******************************
 *      divider 2
 ******************************/
 .divider2 {
	margin-bottom:25px;
	height:25px;
	clear:both;
	position: relative;
	border-color: #dedede;
 }
 .divider2:after {
	 height:25px;
	background:url(../images/divider2.png) no-repeat center;
	content: '';
	position: absolute;
	width: 100%;
 }
 .divider2:before {
	border-bottom: 1px dotted #dedede;
	border-color: inherit;
	position: absolute;
	content: '';
	width: 100%;
	height: 0;
	top: 50%;
	left: 0;
	margin-top: -1px;
 }

/******************************
 *      divider 3
 ******************************/
 .divider3 {
 margin-bottom:25px;
 height:0px;
 border-bottom: 1px dotted #dedede;
 clear:both;
 }
/******************************
 *      divider 4 triple border
 ******************************/
 .divider4 {
 margin-bottom:25px;
 clear: both;
 }


/* ==========================================================================
 *                Icons spin
   ========================================================================== */
.fa-spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/*---------------------------------
            Animated
---------------------------------*/
.animated {
    opacity: 0;
}

/* ==========================================================================
 *                end Shortcodes
   ========================================================================== */