/*
Theme Name: Multinews 
*/
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Bold.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Bold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabickufi/v3/DroidKufi-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Bold.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Bold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v4/DroidNaskh-Bold.ttf) format('truetype');
}

body {
	direction: rtl;
	unicode-bidi: embed;
}
html[lang="ar"] body,
.entry-content p {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 13px;
}
html, button, input, select, textarea,body
.mom-megamenu .sub-mom-megamenu2 ul li h2 a,
.mom-megamenu .sub-mom-megamenu ul li h2 a,
ul.webticker li h4,
.entry-meta a,
.entry-meta,
.review-widget li .rev-title,
.review-widget li small,
.widget_rss .rss-date{
	font-family: Tahoma, Helvetica, sans-serif;
}
ul.top-menu li, ul.top-social-icon li.top-search div input, ul.main-menu li, .breaking-news .breaking-title, .section-header, footer.show-more a, .def-slider-desc, .f-tabbed-head li a, .secondary-sidebar .post-list li .read-more-link, .tagcloud a, .sidebar .social-counter, ul.widget-tabbed-header li a, ul.latest-comment-list li cite, ul.latest-comment-list li time, .login-widget input[type="text"], .login-widget input[type="password"], input[type="button"], input[type="reset"], input[type="submit"], input[type="email"], .login-pwd-wrap span, .login-widget .login-button, ul.login-links li a, .login-widget label, .first-weather time.weather-date, .first-weather .weather-result span, .w-item-title, .w-item-content ul li, .poll-widget ul li .poll-title, .poll-widget p, .poll-widget ul li small, .poll-widget ul li button.poll-vote, ul.twiter-list, .sidebar .widget_categories, .sidebar .widget_archive, .secondary-sidebar .widget_categories, .search-form .search-field, .footer .newsletter .nsf, .footer .newsletter .nsb, footer.footer, .footer-menu, .footer-bottom, ol.nb-tabbed-head li a, .nb2 ul li.show-more a, .cat-slider-nav-title, .cat-slider-pop, .entry-crumbs, .entry-content-data .story-highlights ul li, .entry-tag-links, .mom-share-buttons a, .mom-share-post .sh_arrow, .post-nav-links, .author-bio-name a, .comment-list .single-comment cite, .comment-list .single-comment time, .comment-list .single-comment .comment-reply-link, .media-sort-title, .media-cat-filter li, .weather-switch-tabs a, .t-w-title .weather-date, .weather-results-status, .find-weather-box, .adv-search-form label, .adv-search-form .submit, .ajax-search-results a, .mom-megamenu .view-all-link, .widget_pages li, .widget_meta li, .widget_recent_comments li, .widget_recent_entries li, .widget_rss li, .span.blog-timeline-date, .blog-timeline-more, .user-login-links li a, .nsd, .mom-reveiw-system .review-header h2, .today_date, a.read-more, button, .pagination, h1, h2, h3, h4, h5, h6, input[type="text"], textarea, select, .not-valid-city, .entry-content blockquote, ul.mom_tabs li a, .media-cat-filter li, .widget_archive li, .widget_nav_menu ul a, .mobile-menu li a, .device-menu-holder, #navigation .device-menu li.menu-item > a, .section-header h1.section-title2, section-header span.mom-sub-title, .mom-reveiw-system .review-circle .circle .val, .mom-reveiw-system .review-circles .review-circle, .mom-reveiw-system .score-wrap .review-circle, .review-footer .total-votes, .rs-smaller_than_default.mom-reveiw-system .stars-cr, .review-summary .review-score .score-wrap.stars-score .score-title, .mom-reveiw-system .review-summary .review-score .score, .rs-smaller_than_default.mom-reveiw-system .mom-bar .mb-inner .cr, .mom-reveiw-system .mom-bar .mb-score, .mom-reveiw-system .review-summary .review-score .score-wrap, footer.author-box-footer span, .weather-switch-tabs label, .mom-reveiw-system .review-header h2, .mom-reveiw-system .review-summary h3, .mom-reveiw-system .user-rate h3, .mom-reveiw-system  .review-summary .review-score, .mom-reveiw-system .mom-bar, .mom-reveiw-system .review-footer, .mom-reveiw-system .stars-cr .cr, .mom-reveiw-system .review-circles .review-circle{
	font-family: 'Droid Arabic Kufi', serif;
}
caption,
th,
td {
	text-align: right;
}
.top-bar-right{
	float: left;
}
ul.top-menu li{
	font-weight: normal !important;
}
ul.top-menu li,
ul.main-menu, ul.top-menu{
	float: right;
}
ul.top-menu > li ul.sub-menu{
	left: auto;
	right: -1px;
}
.top-menu li:hover ul.sub-menu li ul.sub-menu{
	left: auto;
	right: 100%;
}
ul.top-menu li ul li a{
	font-size: 11px;
}
ul.top-social-icon li{
	float: right;
}
ul.top-menu li:first-child{
	border-left: 0;
}
ul.top-menu li:last-child{
	border-left: 1px solid #222222;
}
ul.top-social-icon li.top-search{
	border-right: none;
}
ul.top-social-icon li:first-child{
	border-right-width: 1px;
}
div.search-dropdown{
	left: 0;
	right: auto;
}
.search-dropdown .sf-loading{
	right: auto;
	left: 15px;
}
.ajax-search-results a{
	text-align: right !important;
	padding: 10px 0 6px !important;
}
.ajax-search-results .post_format, .ajax-search-results a img{
	float: right;
	margin: 0 0 0 8px;
}
.ajax-search-results a h2{
	font-size: 12px;
	margin: -4px 0 -5px;
}
.ajax-search-results a span{
	font-size: 11px;
}
.ajax-search-results h4.show-all-results i{
	display: none;
}
.logo{
	float: right;
}
.header-banner{
	float: left;
}
.header .ads-layout-rotator{
	right: auto !important;
	left: 0;
}
.ads-layout-rotator .adr-arrows{
	right: auto;
	left: 0;
}
.ads-layout-rotator .adr-arrows span {
  margin-left: 0;
  margin-right: 1px;
}
ul.main-menu > li{
	float: right;
	font-size: 13px;
	font-weight: normal !important;
}
ul.main-menu li:first-child{
	border-left: none;
}
ul.main-menu > li:last-child{
	border-left: 1px solid #000;
}
ul.main-menu li:not(.mom_mega) ul li{
	font-size: 12px;
}
.main-menu .mom_mega.menu-item-depth-0 > ul.sub-menu > li ul li a i{
	top: 2px;
}
.navigation ul.main-menu > li:not(.mom_mega) > ul.sub-menu,
.navigation ul.main-menu > li .mom-megamenu{
	right: -1px;
	left: auto;
}
.navigation ul.main-menu li:not(.mom_mega) ul.sub-menu li ul.sub-menu{
	left: auto;
	right: 100%;
}
.navigation ul.main-menu > li .mom-megamenu ul.sub-menu{
	float: right;
}
.navigation .mom-megamenu .sub-mom-megamenu ul li{
	float: right;
}
.navigation .mom-megamenu .sub-mom-megamenu ul li:last-child{
	border-left: none;
	border-right: 1px solid #000;
}
.navigation .mom-megamenu .sub-mom-megamenu2 > ul, .navigation .mom-megamenu > .sub-mom-megamenu ul{
	border-left: 0;
}
.navigation .mom-megamenu ul li.active:before, .navigation .mom-megamenu ul li:hover:before{
	right: auto;
	left: -7px;
	border-right-color: #000;
	border-left: 0;
}
.navigation .mom-megamenu .sub-mom-megamenu2 ul{
	border-left: 0;
	border-right: 1px solid black; 
}
.navigation .mom-megamenu .sub-mom-megamenu2 ul li img{
	float: right;
	margin: 0 0 0 14px;
}
.navigation .mom-megamenu .sub-mom-megamenu2 ul li h2 a, .navigation .mom-megamenu .sub-mom-megamenu ul li h2 a{
	text-align: right;
}
.navigation .mom-megamenu .view-all-link i{
	margin: 0 13px 0 0;
}
ul.main-menu li:not(.mom_mega) > ul > li.menu-item-has-children > a:after{
	top:5px;
	float: left;
	right: auto;
	left: -5px;
	content: "\e6cd";
}
ul.main-menu li a i{
	float: right;
	margin: 0 0 0 10px;
}
commentmetadata{
	float: right;
}
.comment-list .single-comment .edit-link a{
	margin: 0 20px 0 0;
}

.breaking-news .breaking-title {
  left: auto;
  right: 0;
}
.breaking-news-items {
  padding-left: 0;
  padding-right: 121px;
}
ul.br-right {
  right: auto;
  left: 0;
  border-left-width: 0;
  border-right-width: 1px;
}
ul.br-right li {
  float: right;
}
ul.br-right:after {
  right: auto;
  left: 100%;
  border-right-color: transparent ;
  border-left-color: #000;
}
.breaking-cont{
	float: right;
	border-right: none;
	border-left: 1px solid #000;
	padding: 0;
}
.breaking-cont:after{
	right: auto;
	left: 0;
	top: 35%;
	border-right: none;
	border-left-color: #000;
}
.breaking-news .breaking-title{
	float: right;
}
ul.br-right{
	float: right;
}
ul.br-right li{
	border-right: none;
	border-left: 1px solid #000;
}
ul.br-right li:last-child {
	border-left:0;
}
ul.webticker li{
	float: right;
}
ul.webticker li span{
	float: right;
}
ul.br-right li:not(.menu-item-iconsOnly) a i {
  margin-right: 0; margin-left: 10px;
}
/* def slider */
.def-slider-title h2 a{
	font-size: 18px;
}
.def-slider-desc{
	font-size: 13px;
	line-height: 21px;
}
.slider-def-nav{
	left: auto;
	right: 0;
}
.def-slider-nav a{
	right: 0;
}
.slider-def-nav a{
	line-height: 30px;
}
/* news tabs */
.slider-mpop-big .f-p-title h2 a, ul.f-tabbed-grid li .f-p-title h2 a{
	font-size: 13px;
}
ul.f-tabbed-list li h2 a{
	font-size: 15px;
}
.f-p-title .post-format-icon:before, .post-list .post-format-icon:before{
	left: 2px;
	right: auto;
}
ul.f-tabbed-grid li.format-audio .f-p-title .post-format-icon:before{
	right: auto;
	left: 7px;	
}
ul.f-tabbed-grid li.format-gallery .f-p-title .post-format-icon:before{
	right: auto;
	left: 8px;
}
ul.f-tabbed-grid li .f-p-title h2 a{
	margin: 0 0 0 33px;
}
.f-tabbed-head li{
	float: right;
	border-right: none;
	border-left: 1px solid #dbdbdb;
}
ul.f-tabbed-sort li.list a{
	padding: 10px 6px 10px 15px;
}
ul.f-tabbed-sort li a{
	padding: 10px 1px 10px 15px;
}
.media-main-content ul.f-tabbed-sort li a{
	padding: 10px;
}
.media-items-list li.media-item .media-format, .media-items-list li.media-item .video-time, .media-items-list li.media-item .image-num{
	line-height: 25px;
}
.media-items-list li { 
	width: 178px;
}
ul.f-tabbed-sort li span{
	right: 4px;
}
.slider-mpop-big .f-p-title, ul.f-tabbed-grid li .f-p-title{
	padding: 11px 11px 14px 20px
}
.f-tabbed-head li a{
	font-size: 14px;
}
ul.f-tabbed-sort{
	float: left;
}
ul.f-tabbed-sort li{
	border-left: 0;
	border-right: 1px solid #dbdbdb;
}
ul.f-tabbed-list li .post-thumbnail img{
	float: right;
	margin-left: 15px;
	margin-right: 0;
}
ul.f-tabbed-list .f-tabbed-list-content{
	margin-left: 0;
	margin-right: 158px;
}
ul.f-tabbed-grid li{
	float: right;
}

ul.f-tabbed-grid.f-tabbed-cols2 li:nth-child(2n+1), ul.f-tabbed-grid.f-tabbed-cols3 li:nth-child(3n+1), ul.f-tabbed-grid.f-tabbed-cols4 li:nth-child(4n+1), ul.f-tabbed-grid.f-tabbed-cols5 li:nth-child(5n+1) {
    clear: right;
}

.entry-meta time, .entry-meta span{
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
.entry-meta i{
	margin-right: -6px;
	margin-left: 5px;
	margin-top: 2px;
	float: right;
}
ul.f-tabbed-list li .entry-meta .post-views{
	top: 0;
}
ul.f-tabbed-list li .entry-meta .momizat-icon-eye{
	top: -1px;
}
ul.f-tabbed-list .f-p-title .post-format-icon:before{
	margin-right: -158px;
	margin-left: 0;
	top: 88px;
	right: 0;
	left: auto;
}
.chat-author {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
.chat-text {
    margin-right: 90px;
    margin-left:0;
}
.chat-text:after, .chat-text:before {
    right: auto;
    left: 100%;
}
.chat-text:after { border-right-color: rgba(255, 255, 255, 0); border-left-color: #f8f8f8; }
.chat-text:before { border-right-color: rgba(237, 237, 237, 0); border-left-color: #f0f0f0;}
/* scroller */
.section-header h1.section-title2 a, .section-header h1.section-title2{
	font-size: 22px;
}
.section-header span.mom-sub-title{
	font-size: 14px;
    margin-top: 13px;
}
.owl-carousel .owl-item{
	float: right;
}
.col2 .scroller2 li{
	width: 208.6px;
	border-left: 1px solid #E4E4E4;
    float: right;
    border-right: none; 
}
.scroller ul li{
	float: right;
	margin-left: 1px;
	margin-right: 0;
}
.scroller2 .owl-pagination .owl-page{
	float: right;
	margin: 0 0 0 3px;
}
.scroller ul li .entry-meta a{
	display: flex;
}
.scroller ul li .entry-meta .author-link a{
	display: inline-flex;
}
header.block-title{
	padding: 0 15px 0 0;
}
.scroller ul li h2{
	font-size: 14px;
	font-weight: normal !important;
	padding: 0 10px;
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
}
.scroller2 ul li h2{
	font-size: 14px;
}
.scroller2 .owl-dots .owl-dot{
	float: right;
}
/* news boxes */
ul.f-tabbed-list li .entry-meta{
	margin-top: 7px;
}
header.block-title h2 a, header.block-title h2{
	float: right;
}
.cat-grid li, .nb1 ul li{
	float: right;
	border-width: 1px 0 0 1px;
}
.cat-grid li:nth-child(2n+2), .nb1 ul li:nth-child(2n+2){
	border-left: 0;
}
.nb1 ul li h2 a, .nb2 .first-item h2 a, .nb3 .first-item h2 a, .nb4 .first-item h2 a, .nb5 .first-item h2 a{
	font-size: 16px;
}
.nb2 ul li h2 a, .nb5 ul li h2 a,
.nb3 ul li h2 a, .nb4 ul li h2 a,
.nb6 ul li h2 a{
	font-size: 14px;
}
.nb1 .post-format-icon:before, .nb2 .first-item .post-format-icon:before, .nb3 .first-item .post-format-icon:before, .nb4 .first-item .post-format-icon:before, .nb5 .first-item .post-format-icon:before, .nb6 .post-format-icon:before{
	right:0;
	left: auto;
}
.nb2 .first-item, .nb4 .first-item{
	float: right;
}
.nb2 ul, .nb4 ul{
	border-left: none;
	border-right: 1px solid #e4e4e4;
	margin-left: 0;
	margin-right: 287px;
}

.nb3 .first-item{
	float: right;
	border-width: 0 0 0px 1px;
}
.nb3 .first-item:nth-child(2n+2){
	border-left: 0;
}
.nb3 ul li, .nb5 ul li{
	float: right;
	border-width: 1px 0 0 1px;	
}
.nb3 ul li:nth-child(2n+2), .nb5 ul li:nth-child(2n+2){
	border-left: 0;
}
.nb5 .first-item .post-thumbnail img,
.nb3 ul li .post-thumbnail img, .nb4 ul li .post-thumbnail img{
	float: right;
	margin: 0 0 0 15px;
}
.nb6 ul li{
	float: right;
	border-width: 1px 0 0 1px;
}
.nb6 ul li:nth-child(3n+3){
	border-left: 0;	
}
.nb5 ul li:nth-child(2n+1):before, .nb3 ul li:nth-child(2n+1):before, .cat-grid li:nth-child(2n+1):before{
	left: auto;
	right: 100%;
}
footer.show-more a{
	font-size: 13px;
}
ol.nb-tabbed-head{
	float: left;
}
ol.nb-tabbed-head li{
	float: right;
	border-left: 0;
	border-right: 1px solid #dbdbdb;
}
.nip .first-item{
	float: right;
	margin: 0 0 0 14px;
}
.nip ul {
  	margin-left: 0;
	margin-right: 371px;
}
.nip ul li{
	float: right;
}
.nip ul li:nth-child(2n+2){
	margin-left: 0;
}
.vid-box-wrap ul.widget-tabbed-header{
	margin: -2px -15px 0 0;
}
.vid-box-wrap ul.widget-tabbed-header li a{
	padding: 0 39px;
}
.vid-vert{
	margin-right: -15px;
	float: right;
	margin-left: 16px;
	border-right: none;
	border-left: 1px solid #dbdbdb;
}
.nav-arr-nav{
	left: inherit;
	right: 0;
}
.nav-arr-nav a{
	float: right;
	border-right: none;
	border-left: 1px solid #dbdbdb;
}
.vid-box-nav li img{
	float: right;
	margin-right: 0;
	margin-left: 15px;
}
.vid-box-item-wrap{
	float: left;
}
/* footer */
footer.footer .footer-widget{
	float: right;
	border-left: 1px solid #1a1a1a;
	border-right: 0;
	margin-left: 0;
}
footer.footer .footer-widget:first-child{
	border-right: 1px solid #1a1a1a;
}
.last{
	margin-left: 0 !important;
	clear: left !important;
}
.footer-menu{
	font-size: 12px;
}
.footer-menu ul > li{
	float: right;
}
.footer-menu ul li:first-child:after{
	content: "";
	display: none;
}
.footer-menu ul > li:last-child:after{
	content: "";
	position: absolute;
	width: 1px;
	height: 1000%;
	left: 0;
	background: #1a1a1a;
	top: 0;
}
.footer-menu ul > li ul li:last-child:after{
	display: none;
}
.footer-bottom .alignleft{
	float: right;
}
.footer-bottom .alignright{
	float: left;
}
ul.footer-bottom-menu > li{
	float: right;
}
ul.footer-bottom-menu> li:first-child > a{
	padding-right: 0;
}
ul.footer-bottom-social li{
	float: right;
	margin: 0 0 0 15px;
}
.footer-menu ul li a i{
	margin: 0 0 0 8px;
}
.toup{
	right: auto;
	left: 50px;
}
.entry-crumbs .crumb-icon{
	float: right;
	margin: -1px -1px -1px 0;
}
.entry-crumbs .crumb-icon:before{
	left: auto;
	right: 100%;
	border-right-color: #0083b9;
	border-left: none;
}
.woocommerce-breadcrumb a:last-child,
.entry-crumbs div.vbreadcrumb:last-of-type a{
	margin: 0 0 0 15px;
}
.woocommerce-breadcrumb a,
.entry-crumbs .vbreadcrumb > a{
	float: right;
	border-right: 0;
	border-left: 1px solid #e5e5e5;
}
.woocommerce-breadcrumb a, .entry-crumbs .vbreadcrumb > a{
	font-size: 15px;
}
.woocommerce-breadcrumb a:before,
.woocommerce-breadcrumb a:after,
.entry-crumbs .vbreadcrumb > a:after,
.entry-crumbs .vbreadcrumb > a:before {
    right: 100%;
    left: auto;
}
.woocommerce-breadcrumb a:after,
.entry-crumbs .vbreadcrumb > a:after {
    border-right-color: #fff;
    border-left: 0;
}
.woocommerce-breadcrumb a:before,
.entry-crumbs .vbreadcrumb > a:before {
    border-right-color: #e5e5e5;
	border-left: 0;	
}
.entry-crumbs .cat-feed{
	float: left;
	border-left: none;
	border-right: 1px solid #e1e1e1; 
}
footer.footer p.nsd,
.footer .textwidget{
	font-size: 13px;
}
.footer .post-list li h2 a{
	font-size: 14px;
}
footer.footer .footer-widget a{
	font-size: 12px;
}
/* category */
.top-cat-slider-nav{
	right: auto;
	left: 0;
}
.top-cat-slider-nav,
.cat-slider-nav{
	float: left;
	border-left: none;
	border-right: 1px solid #e1e1e1;
}
.top-cat-slider-nav ul li h2, .cat-slider-nav ul li h2{
	font-size: 15px;
}
.bb-bookblock{
	float: right;
}
.cat-slider-pop{
	left: 0;
	right: auto;
}
.cat-slider-mpop-head .cat-slider-pop{
	left: 0;
	right: auto; 
}
.cat-slider-pop i{
	top: 1px;
}
.cat-slider-pop{
	line-height: 28px;
}
.blog-post-big .entry-meta div, .blog-post-big .entry-meta time, .blog-post-big .entry-meta span, .blog-post .entry-meta div, .blog-post .entry-meta time, .blog-post .entry-meta span, .cat-list li .entry-meta time, .cat-list li .entry-meta div, .cat-grid li .entry-meta div, .cat-slider-nav ul li .entry-meta div, .cat-slider-nav ul li .entry-meta time, .top-cat-slider-nav ul li .entry-meta div, .top-cat-slider-nav ul li .entry-meta time{
	float: right;
}
.cat-slider-nav ul li .entry-meta div,
.cat-slider-nav ul li .entry-meta time{
	margin: 0 0 0 3px;
}
.cat-slider-nav ul li.activeSlide h2:before,
.cat-slider-nav ul li:hover h2:before{
	left: auto;
	right: -21px;
	border-left-color: #0083b9; 
	border-right: 0; 
}
.col2 .cat-slider-mpop .slider-mpop-big,
.cat-slider-mpop .slider-mpop-big{
	float: right;
	margin: 0 0 15px 14px;
}
.cat-slider-mpop .slider-mpop-big:last-of-type{
	margin-left: 0;
}
.cat-slider-mpop ul li{
	float: right;
	margin-left: 2%;
	margin-right: 0; 
}
.cat-slider-mpop ul li:nth-child(2n+2){
	margin-left: 0;
}
.cat-slider-mpop ul li img{
	float: right;
	margin: 0 0 0 15px;
}
.cat-grid li .entry-meta time{
	float: right;
	margin: 0 0 0 2px;
}
.cat-slider-pop i{
	right: -7px;
	float: left;
	left: auto;	
}
.col2 .cat-slider-pop, .cat-slider-pop,
.col2 .cat-slider-mpop-head .cat-slider-pop{
	right: auto;
	left: 0;
}
.cat-slider-mpop-head .cat-slider-pop{
	width: 123px;
}
.cat-slider-mpop-head .cat-slider-pop i{
	right: 10px;
	float: right;
	left: auto;
}
.cat-grid li h2 a{
	font-size: 17px;
}
.cat-slider-mpop-head h2{
	margin-right: 17px;
	margin-left: 0;
}
.cat-slider-wrap,
.cat-slider-mpop{
	float: right;
}
.cat-grid li:nth-child(2n+1), .nb1 ul li:nth-child(2n+1){
	clear: right;
}
.cat-grid li:nth-child(2n+1):before{
	left: auto;
	right: 100%;
}
.cat-list li img{
	float: right;
	margin: 0 0 0 17px;
}
.pagination a, .pagination span{
	margin: 0 0 0 15px;
	float: right;
}
/* post page */
.entry-post-meta div{
	float: right;
	padding: 0 0 0 10px;
	margin: 0 0 0 10px;
	border-right: 0;
	border-left: 1px solid #e9e9e9; 
}
h1.entry-title{
	font-size: 21px;
}
.entry-content-data{
	float: right;
	margin: 0 0 0 20px;
}
.entry-content-data .post-thumbnail{
	right: 0;
	left: auto;
}
.entry-content-data .post-thumbnail .img-toggle{
	right: auto;
	left: 0;
}
.entry-content-data .story-highlights ul li a{
	font-size: 13px;
}
.entry-content-data .story-highlights ul li a:before{
	left: auto;
	right: -15px;
	margin: 0 0 0 -5px;
}
.entry-content-data .story-highlights ul li{
	padding: 0 15px 0 0;
}
.mom-share-post h4{
	float: right;
	margin: 0 0 0 20px;
}
.mom-share-buttons{
	padding: 0 0 0 100px;
}
.mom-share-buttons a{
	border-left: 1px solid #e9e9e9;
	border-right: 0;
	margin: 0 0 5px 5px;
	padding: 0 0 0 10px;
}
.post-nav-links .post-nav-prev{
	float: right;
	border-right: 0;
	border-left: 1px solid #e9e9e9; 
}
.post-nav-links .post-nav-next{
	float: left;
	text-align: left;
}
.post-nav-prev a{
	/* padding-left: 2px; */
}
.post-nav-links span{
	margin-bottom: 5px;
}
.post-nav-links .post-nav-prev span:before{
	content: "\e6e5";
	float: right;
	margin-left: 10px;
	margin-right: 0;
}
.post-nav-links .post-nav-next span:after{
	content: "\e6e4";
	margin-right: 10px;
	margin-left: 0;
	float: left;
}
.author-bio-wrap img{
	float: right;
}
.author-bio-content{
	margin: 0 100px 0 0;	
}
.mom-related-posts li{
	float: right;
	margin: 14px 0 0 20px;
	min-height: 180px;
}
.mom-related-posts li h2 a{
	font-size: 14px;
}
.one-side-wide .mom-related-posts li:nth-child(3n+3){
	margin-right: 0;
}
.comment-list .single-comment .comment-author-avatar img{
	float: right;
	margin: 0 0 0 20px;
}
.comment-list ol.children{
	margin: 0 98px 0 0;
}
.comment-list .single-comment .comment-wrap{
	margin: 0 80px 0 0;
}
.comment-form #comment-submit{
	font-size: 14px;
}
.comment-form #author, .comment-form #email{
	margin: 0 0 0 6px;
}
.comment-form #url{
	margin: 0;
}
.archive-page.entry-crumbs span{
	padding: 0 15px 0 0;
}
.mom-archive ul li ul li a{
	float: right;
	text-align: right;
}
.mom-archive ul li ul li{
	text-align: left;
}
.author-list-box .author-box-content img{
	float: right;
	margin: 0 0 0 10px;
}
footer.author-box-footer span{
	float: left;
}
.fixed-header .logo{
	margin: 0 0 0 15px;
}
.ma-content-wrap{
	left: auto;
	right: 19%;
}
.ma-content-wrap .entry-meta div{
	float: right;
}
.ma-content-wrap .entry-meta .author-link, .ma-content-wrap .entry-meta .entry-date{
	padding: 0 0 0 10px;
	margin: 0 0 0 10px;
	border-right: 0;
	border-left: 1px solid #e9e9e9;
}
a.read-more{
	padding: 5px 10px;
	font-size: 12px;
}
a.read-more i{
	right: 1px;
	left: auto;
}
.story-highlights ul{
	padding-right: 0 !important;
}
.entry-content ul,
.entry-content ol{
	padding: 0 40px 0 0;
}
.today_date{
	float: right;
	margin: 0 0 0 20px;
}
/* ==========================================================================
 *                Review
   ========================================================================== */
.mom-reveiw-system .review-header h2 {
    float: right;
}

.mom-reveiw-system .review-header {
    padding-left: 0;
    padding-right: 20px;
}
.mom-reveiw-system .review-header .mr-types {
    float: left;
}
.mom-reveiw-system .review-header .mr-types li {
    float: right;
    border-left-width: 0;
    border-right-width: 1px;
}
/*Circles*/
.mom-reveiw-system .review-circles .review-circle {
    float: right;
    margin-left: 0;
    margin-right: 2%;
}
.mom-reveiw-system .review-circles .review-circle:nth-child(3n+1) {
    margin-right: 0;
    clear: right;
}
.mom-reveiw-system .review-summary .review-score {
    float: left;
    margin-left: 0;
    margin-right: 20px;
}
.mom-reveiw-system .circles-tab .review-footer h3, .mom-reveiw-system .user-rate-circle {
    float: right;
    margin-right: 0;
    margin-left: 18px;
}

.mom-reveiw-system .stars-cr .star-rating {
    float: left;
}
.star-rating span, .star-rating span,
.star-rating span:before, .star-rating span:before{
	left: auto;
	right: 0;
}
.mom-reveiw-system .mom-bar .mb-score  {
    left: auto;
    right: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
}
.mom-reveiw-system .review-summary .review-score .score, .mom-reveiw-system .review-circle .circle .val, .mom-reveiw-system .user-rate-circle .cru-score, .mom-reveiw-system .user-rate-bar .ub-inner {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.mom-reveiw-system .mom-bar {
    margin-right: 0;
    margin-left: 59px;
}
.mom-reveiw-system .user-rate-bar > div {
  direction: ltr;
}
.rs-smaller_than_default.mom-reveiw-system .review-circles .review-circle:nth-child(3n+1) {
    margin-right: 2%;
    margin-left:0;
}
.rs-smaller_than_default.mom-reveiw-system .review-circles .review-circle:nth-child(2n+1) {
    margin-right: 0;
}

/* media page */
.page-wrap .f-tabbed-head .f-tabbed-sort{
	float: right;
	margin: 0 0 0 13px;
}
.media-sort-form{
	float: left;
	margin: 0 0 0 20px;
}
.media-sort-title{
	float: left;
	margin: 0 0 0 5px;
}
.media-items-list li{
	float: right;
	margin: 0 11px 0 0; 
}
.media-items-list li.featured:first-child{
	margin-right: 0;
}
.media-items-list li#m-items{
	margin: 16px 9px 0 0;
	min-height: 206px;
}
.media-item h2 a{
	font-size: 13px;
}
.media-items-list #m-items:nth-child(4n+3){
	margin-right: 0;
}
.media-item .media-data{
	right: auto;
	left: 0;
}
.media-item .media-format{
	margin: 0 0 0 1px;
}
.media-item .media-format, .media-item .video-time, .media-item .image-num{
	float: right;
	right: auto;
	left: 0;
}
.media-item .entry-meta time{
	padding-right: 0;
	padding-left: 10px;
	border-right: none;
	border-left: 1px solid #c9c9c9;
	margin:  0 0 0 10px;
}
/* search page */
.adv-search-form .sort-arrow:before, .media-sort-wrap .sort-arrow:before{
	border-right: 1px solid #E7E7E7;
	right: auto;
	left: 0;
	border-left: 0;
}
.media-tabs ul.f-tabbed-sort li{
	border-left: 1px solid #dbdbdb;
	border-right: 0;
}
.page-wrap .f-tabbed-head li:last-child{
	border-left: 1px solid #dbdbdb;
}
.page-wrap .f-tabbed-head li:first-child{
	border-right: 0;
}
.adv-search-form select, .media-sort-wrap select {
    padding: 0;
    box-sizing: border-box;
    margin-right: 15px;
}
.adv-search-form .submit{
	padding: 0;
}
.search-page .media-sort-form select{
	top: -7px;
	left: 2px;
}
/* weather page */
.weather-page-icon{
	float: right;
}
.weather-page-icon:before{
	left: auto;
	right: 100%;
	border-left: 0;
	border-right-color: #ffa500;
}
.not-valid-city{
	right: auto;
	left: 5px;
}
.weather-switch-tabs{
	float: left;
	margin: -1px 0 0 -1px;
}
.weather-page-head h2{
	float: right;
}
.weather-page-head{
	padding: 0 14px 0 0;
	margin: 0 55px 10px 0;
}
.weather-data-wrap{
	padding: 0 178px 0 0;
}
.today-weather-box{
	float: right;
	left: auto;
	right: 0;
	margin: 0 0 0 10px;
}
.week-weather-box li{
	float: right;
	border-right: 0;
	border-left: 1px solid #e4e4e4;
}
.week-weather-box li:last-child{
	border-left: 0;
}
.find-weather-box span{
	float: right;
}
form#find-weather input{
	text-align: right;
}
form#find-weather{
	margin-left: 0;
	margin-right: 157px;
}
form#find-weathe input{
	text-align: right;	
}
.weather-results .weather-icon{
	text-align: right;
}
.first-weather .weather-icon i.icon-sunny::after{
	left: auto;
	right: 2px;
}
.first-weather .weather-date span{
	margin: 0 0 0 14px;
}
.weather-results .weather-icon i.icon-sunny::after{
	left: 10px;
}
.today-weather-box .weather-results .weather-icon i.icon-sunny:after{
	left: 13px;
	top: 13px;
}
.weather-page-head{
	border-width: 1px 0 1px 1px;
	border-color: #E1E1E1;
	border-style: solid;
}
/* blog style */
.blog-post-big .entry-meta div, .blog-post-big .entry-meta time, .blog-post-big .entry-meta span, .blog-post .entry-meta div, .blog-post .entry-meta time, .blog-post .entry-meta span, .cat-list li .entry-meta div, .cat-list li .entry-meta time, .cat-list li .entry-meta span{
	margin: 0 0 0 10px;
}
.blog-post img{
	float: right;
	margin: 0 0 0 15px;
}
/* timeline */
.mom-blog-timeline ul li{
	float: right;
	text-align: right;
	clear: right;
}
.mom-blog-timeline ul li:nth-child(2n+2){
	float: left;
	clear: left;
}
.mom-blog-timeline ul li:before{
	right: auto;
	left: -21px;
}
.mom-blog-timeline ul li:nth-child(2n+2):before{
	left: auto;
	right: -21px;
}
.pp_content_container{ text-align: justify; }
#navigation .sticky_logo{
	right: 0;
	left: auto;
	margin: 0 0 0 10px;
}
.navigation .sub-cat-megamenu ul.mn-load:before{
	left: 40%;
}
.navigation .sub-mom-megamenu2.sub-cat-megamenu ul.mn-load:before{
	left: 35% !important;
}
ul.top-menu li i{
	float: right;
	margin: 0 0 0 5px;
}
/*******************************************************************
 * 	        Column
 *******************************************************************/
.one_half, .one_third, .two_third, three_fourth, .two_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .two_sixth, .three_sixth, .four_sixth, .five_sixth {
	position: relative;
	margin-left: 4%;
        margin-right:0;
	float: right;
	/*overflow:hidden;*/
}
.one_half {
	width: 48%;
}
.one_third {
	width: 30.6666%;

}
.two_third {
	width: 65.3332%;
}
.one_fourth {
	width: 22%;
}
.two_fourth {
	width: 48%;
}
.three_fourth {
	width: 74%;
}
.one_fifth {
	width: 16.8%;
}
.two_fifth {
	width: 37.6%;
}
.three_fifth {
	width: 58.4%;
}
.four_fifth {
	width: 79.2%;
}
.one_sixth {
	width: 13.3333%;
}
.two_sixth {
	width: 30.6666%;
}
.three_sixth {
	width: 47.9998%;
}
.four_sixth {
	width: 65.3332%;
}
.five_sixth {
	width: 82.6665%;
}
.last {
	margin-left: 0 !important;
	clear: left;
}


/*******************************************************************
 * 	        Widgets
 *******************************************************************/
.widget-title h2{
	font-size: 15px;
}
.secondary-sidebar .post-list li .read-more-link{
	float: right;
	font-size: 12px;
}
.sidebar .post-list li h2 a, .secondary-sidebar .post-list li h2 a,
.widget-tab .post-list li h2 a{
	font-size: 14px;
}
.widget-tab .entry-meta time{
	margin-right: 10px;
}
.widget-tab .post-list li .entry-meta{
	font-size: 12px; 
}
ul.latest-comment-list li time{
	font-size: 13px;
}
.media-cat-filter li a, .secondary-sidebar .widget_pages li a, .secondary-sidebar .widget_archive li a, .secondary-sidebar .widget_meta li a, .secondary-sidebar .widget_categories li a{
	text-align: left;
	float: right;
}
.mom-archive ul li ul li a:before, .widget_archive li a:before, .widget_pages li a:before, .widget_meta li a:before, .media-cat-filter li a:before, .widget_categories li a:before{
	left: auto;
	right: 0;
	margin-left: 10px;
	margin-right: 0;
}
.media-cat-filter li, .secondary-sidebar .widget_archive li, .secondary-sidebar .widget_categories li{
	text-align: left;
}
ul.widget-tabbed-header li{
	float: right;
	border-width: 1px 0 1px 1px;
}
ul.widget-tabbed-header li:first-child{
	border-right: 1px solid #dbdbdb;
}
.post-list .post-format-icon:before{
	float: right;
	margin-left: 6px;	
}
ul.latest-comment-list li cite{
	font-size: 15px;
}
.search-form .search-field{
	float: right;
	border-width: 1px 1px 1px 0;
	padding-right: 10px;
	padding-left: 60px;
}
.search-form .search-submit{
	float: right;
	right: auto;
	left: 0;
}
.slider-widget .slider-widget-title h2 a{
	font-size: 15px;
}
.login_widget .author-avatar img{
	float: right;
	margin-left: 15px;
	margin-right: 0;
}
.footer .post-list li img, .sidebar .post-list li img{
	float: right;
	margin: 0 0 4px 15px;
}
ul.twiter-list > li a.twiter-follow{
	box-sizing: border-box;
	padding: 1px 6px 0;
}
.secondary-sidebar .first-weather .weather-icon{
	right: -11px;
	margin: 0 0 0 72px;
}
.first-weather .weather-icon{
	left: 0;
	right: -9px;
}
.first-weather .weather-data, .first-weather .weather-result{
	float: right;
}
.first-weather .weather-result{
	border-left: 0;
	border-right: 1px solid #e9e9e9;
	padding: 0 24px 0 0;
}
.w-item-title .t-ic{
	left: 0;
	right: auto;
	border-left: 0;
	border-right: 1px solid #e5e5e5;
}
.w-item-title .w-item-day{
	float: right;
	border-right: 0;
	border-left: 1px solid #e5e5e5;
	margin-left: 20px;
	margin-right: 0;
}
.w-item-title time{
	margin: 0 0 0 15px;
	float: right; 
}
.w-item-title .w-item-status{
	float: right;
	margin: 0 20px 0 0;
	font-family: 'archivo narrow',serif !important;
}
.w-item-title .weather-icon{
	float: left;
	margin: 0 0 0 52px;
}
.w-item-content ul{
	padding: 0 56px 0 27px;
}
.secondary-sidebar .first-weather .weather-result{
	padding: 0;
	border: none;
}
.first-weather time.weather-date span{
	margin: 0 0 0 14px;
	float: right;
}
.secondary-sidebar .first-weather time.weather-date span{
	margin: 0 22px 0 14px;
}
.secondary-sidebar .w-item-content ul li{
	text-align: right;
	padding: 0 15px 0 0;
	margin: 0;
}
.secondary-sidebar .w-item-title .weather-icon{
	left: auto;
	right: 9px;
}
.secondary-sidebar .first-weather .icon-cloud.behind:after{
	right: -8px;
}
.sidebar .first-weather .weather-icon i.icon-sunny:after{
	right: -1px;
	top: -4px;
}
.sidebar .social-counter li{
	float: right;
	margin: 10px 0 0 4px;
}
.secondary-sidebar .social-counter li i{
	padding-right: 0;
	padding-left: 10px;
	margin-right: 0;
	margin-left: 8px;
	border-right: none;
	border-left: 1px solid #fff;
	float: right;
	top: 11px;
	line-height: 20px;
}
.secondary-sidebar .social-counter li .resul{
	margin: 0 0 0 5px;
}
.secondary-sidebar .social-counter li a{
	line-height: 41px;
}
ul.social-widget li:nth-child(6n+6),
.sidebar .social-counter li:nth-child(4n+4){
	margin-left: 0;
}
.w-item-content ul li{
	float: right;
}
.w-item-content ul li:nth-child(2n+2){
	border-left: 0;
	border-right: 1px solid #5a95b7;
}
.twiter-list ul.twiter-buttons li{
	float: right;
	margin: 0 0 0 4px; 
}
.twiter-list ul.twiter-buttons li:last-child{
	margin-left: 0;
}
.twiter-list ul.twiter-buttons li a{
	font-size: 12px;
}
ul.twiter-list > li a.twiter-follow:before{
	left: auto;
	right: -2px;
}
.twiter-list ul.twiter-buttons li a:before{
	padding: 0 0 0 2px;
}
ul.twiter-list > li a.twiter-follow{
	top: 3px;
}
.col2 .footer .widget .tweet_list li,
.footer .widget .tweet_list li{
	padding: 15px 35px 15px 10px !important;
}
ul.footer-bottom-menu> li:first-child > a,
ul.footer-bottom-menu> li > a {
	padding: 0 0 0 15px;
}
.footer .widget .tweet_list li:before{
	left: auto;
	right: 0;
}
.footer .newsletter .nsf{
	border-width: 1px 1px 1px 0;
}
.footer .newsletter .nsf, .footer .newsletter .nsb{
	float: right;
}
ul.social-widget li{
	float: right;
	margin: 7px 0 0 7px;
}
.footer ul.social-widget li{
	margin: 2px 0 0 2px;
}
ul.social-widget li:nth-child(6n+6){
	margin-right: 0;
}
.footer .widget_nav_menu li{
	float: right;
	margin: 0 0 15px 12px;
}
ul.twiter-list > li img{
	float: right;
	margin:  0 0 0 15px;
}
.postformat-gallery .postformat-gallery-nav, .slider-widget .slider-widget-nav{
	left: auto;
	right: 0;
}
.news-pics-widget li{
	float: right;
	margin: 4px 0 0 4px;
}
ul.latest-comment-list li img{
	float: right;
	margin: 0 0 0 15px;
}
ul.latest-comment-list li cite{
	float: right;
	margin: 0 0 0 5px;
}
ul.latest-comment-list li p{
	margin: 0 85px 0 0;
}
.secondary-sidebar ul.latest-comment-list li p{
	margin: 0;
}
.news-pics-widget li:nth-child(4n+4){
	margin-left: 0;
}
.sidebar .widget_pages li a, .sidebar .widget_archive li a, .sidebar .widget_meta li a, .sidebar .widget_categories li a{
	float: right;
}
.cat_num{
	left: 12px;
	right: auto;
}
.footer .widget_nav_menu li:nth-child(2n+2){
	margin: 0 0 15px;
}
.widget_archive li:hover .cat_num:after,
.widget_archive li:hover .cat_num:before,
.widget_categories li:hover .cat_num:after,
.widget_categories li:hover .cat_num:before {
    left: 100%;
    right: auto;
}
.widget_archive li:hover .cat_num:after,
.widget_categories li:hover .cat_num:after {
    border-left-color: #ffffff;
	border-right: 0;
}
.widget_archive li:hover .cat_num:before,
.widget_categories li:hover .cat_num:before {
    border-left-color: #e5e5e5;
    border-right: 0;
}
.mom-archive ul li ul li a:before, .widget_archive li a:before, .widget_pages li a:before, .widget_meta li a:before, .media-cat-filter li a:before, .widget_categories li a:before, .widget_nav_menu ul li a:before{
	left: auto;
	right: 0;
	margin: 0 0 0 10px;
}
.secondary-sidebar .widget_pages li a,
.secondary-sidebar .widget_meta li a{
	clear: right;
}
.secondary-sidebar .widget_pages ul,
.secondary-sidebar .widget_meta ul{
	overflow: hidden;
}
.widget_nav_menu ul li ul{
	margin: 0 15px 0 0;
}
#wp-calendar thead th{
	text-align: center;
}
.tagcloud a{
	font-size: 12px !important;
}
.user-login-links li{
	margin-bottom: 5px;
}
.user-login-links li i{
	margin: 0 0 0 5px;
}
.login-pwd-wrap span:before{
	top: 6px;
	left: 1px;
}
.login-widget .login-button{
	font-weight: normal !important;
	font-size: 15px;
}
.login-widget .login-user-wrap{
	float: right;
	margin: 0 0 0 6px;
}
.login-widget form .login-input-wrap{
	float: right;
}
.simptip-multiline:after{
	text-align: right;
}
.sidebar ul:not(.widget-tabbed-header):not(.social-counter):not(.social-widget):not(.latest-comment-list):not(.npwidget):not(.post-list):not(.twiter-list):not(.user-login-links):not(.login-links):not(.product_list_widget):not(.twiter-buttons):not(.w-co-w) li a:before{
	margin: 0 0 0 10px;
}
/* ==========================================================================
 *               ShortCodes 
   ========================================================================== */

/*---------------------------------
            Accordions
---------------------------------*/

.acc_vertical .acc_handle {
   right: auto !important;
   left: 12px;
}
.acch_pm, .acch_arrows {
   left: 9px;
}
.acc_vertical h2.acc_title:before {
   left: auto;
   right: -1px;
}
h2.acc_title i[class^="momizat-icon"] {
   float: right;
   margin-right: -10px;
   margin-left: 10px;
}
/*---------------------------------
            buttons
---------------------------------*/

.bt_icon {
   margin-right: 0;
   margin-left: 10px;
   float: right;
   margin-top: 10px;
}
/*---------------------------------
            Testimonials
---------------------------------*/
.tesim_arrow_bot {
   left: auto;
   right: 19px;
}
.tesim_arrow {
   left: auto;
   right: 20px;
}

/*----------------------------
    Tabs
 ----------------------------*/
.main_tabs .tabs li {
    float: right;
}
.main_tabs .tabs li:first-child {
    border-left-width: 0;
}
.main_tabs .tabs li:last-child {
    border-left-width: 1px;
}
.tabs_v1 .tabs-content-wrap, .tabs_v2 .tabs-content-wrap, .tabs_v3 .tabs-content-wrap {
    margin-right: 150px;
    margin-left: 0;
}
.tabs_v1 ul.tabs, .tabs_v2 ul.tabs, .tabs_v3 ul.tabs {
    float: right;
}
.tabs_v1 ul.tabs li, .tabs_v2 ul.tabs li, .tabs_v3 ul.tabs li,
.tabs_v1 ul.tabs li:first-child, .tabs_v2 ul.tabs li:first-child, .tabs_v3 ul.tabs li:first-child {
    border-left-width: 1px;
    border-right-width: 0;
}
.tabs_v1:before, .tabs_v2:before {
    left: auto;
    right: 149px;
}
.tabs_v3:before {
    left: auto;
    right: 233px;
}
.tabs_v3 .tabs-content-wrap {
    margin-right: 234px;
}
ul.tabs li i[class*="-icon-"]  {
    margin-left: 5px;
    margin-right: -5px;
}
.tabs_v3 ul.tabs li i[class*="-icon-"] {
    margin-right: 0;
    margin-left: 8px;
}
.tab-content .entry-content ul{
	padding: 0 !important;
}
/*---------------------------------
            dropcaps
---------------------------------*/
.dropcap {
   float: right;
   margin-left: 20px;
   margin-right: 0;  
}

/*---------------------------------
            Lists
---------------------------------*/
.mom_list li {
   padding-left: 0;
   padding-right: 26px;
}
.mom_list li i{
	margin-right: -26px;
	margin-left: 9px;
}
.mom_list li:before, .mom_list_square_bg ul li:before, .mom_list_circle_bg ul li:before {
   margin-left: 9px;
   margin-right: -26px;
}
/*---------------------------------
            Progress
---------------------------------*/
.parograss_inner {
   left: auto;
   right: 0;
}
/*---------------------------------
            Quote
---------------------------------*/
.mom_quote {
    border-left-width: 0;
    border-right-width: 4px;
    font-size: 14px;
    font-style: normal;
    line-height: 1.6;

}
.mom_quote .quote-arrow {
   left: auto;
   right: -1px;
   border-right-width: 7px;
   border-left-width: 0;
}
.entry-content blockquote{
	border-right: 5px solid #0083b9;
	border-left: 0;
	padding: 18px 45px 18px 25px;
} 
/*---------------------------------
            Icons
---------------------------------*/
.mom_icon {
   margin-right: 0;
   margin-left: 15px;
}
.mom_icona {
   float: right;
   margin-left: 15px;
   margin-right: 0 !important;
}

/*---------------------------------
            Images Grid
---------------------------------*/
.mom_images_grid ul {
   margin-right: 0;
   padding: 0;
}

.mom_images_grid ul li {
   float: right;
   margin-right:0;
}
.mom_images_three_cols ul li:nth-child(3n+3), .mom_images_four_cols ul li:nth-child(4n+4), .mom_images_five_cols ul li:nth-child(5n+5), .mom_images_six_cols ul li:nth-child(6n+6) {
	margin-left: 0;
}

.testim_person img {
   margin-left: 10px;
   margin-right: 0;
   float: right;
}
.mom_testimonial {
   padding-left: 20px;
   padding-right: 50px;
}
span.leftquote {
   right: 17px;
   left: auto;
}

.toggle_icon {
   margin-right: 0;
   margin-left: 3px;
   float: right;
}
 .toggle_arrows:before {
	content: "\e06a";
 }
 .toggle_wrap:before {
   left: auto;
   right: -1px;
 }
 
 /* Tabbed Widget */
 .tabbed_widget ul.tabbed_nav li {
   float: right;
 }
 .tabbed_widget ul.tabbed_nav li a {
   border-right-width: 0;
   border-left-width: 1px;
   border-left-style:solid;
 }
 .tabbed_widget ul.tabbed_nav li:last-child a {
   border-left: 0;
 }
 .blog_posts_widget li.blog_post a img {
   margin-left: 15px;
   margin-right: 0;
   float: right;
 }
 .search-page .nb1 ul li:nth-child(2n+2){
	 border-right: 0;
	 border-left: 1px solid #e4e4e4;
 }
 .search-page .media-sort-title{
	 float: right;
 }
 .media-sort-form span{
	 margin: 0 0 0 4px;
 }
 .adv-search-form .adv-s, .adv-search-form span{
	 float: right;
 }
  .adv-search-form .submit{
	  margin: 0 20px; 
  }
 dd{
	 margin: 0 40px 0 0; 
 }
.ma-content-wrap h2 a{
	font-size: 21px;
}
.widget_pages li a, .widget_archive li a, .widget_meta li a, .widget_categories li a{
	font-size: 12px;
}
.first-weather h2{
	font-size: 25px;
}
/* woocommerce */
ul.mom_products{
	padding: 0;
}
ul.products li:nth-child(3n+1){
	clear: right;
}
ul.products li{
	float: right;
}
.widget.woocommerce img{
	margin-left: 15px;
}
ul.products li .mom_product_thumbnail .mom_woo_cart_bt .button{
	min-width: 110px;
	left: 10px;
}

.mom-related-posts{
	margin-right: 0;
	margin-left: -20px;
}
.nav-login{
	right: auto;
	left: 0;
	border-left: none;
	border-right: 1px solid black;
}
.nav-login-on ul.br-right{
	right: auto;
	left: 40px;
}
.nb-inner-wrap{
	right: auto;
	left: -1px;
}
.photo-credit{
	right: auto;
	left: 20px;
}
.photo-credit i{
	margin-left: 10px;
	margin-right: 0;
}
.photo-credit.img-pct{
	left: 0;
	right: 2px;
}
.post-layout4 .photo-credit{
	left: 16px;
	right: 0;
}
/* fix */
.hst1 ul.br-right:after, .hst2 ul.br-right:after, .hst3 ul.br-right:after{
	border-left-color: #e1e1e1;
	border-right: none;
}
#lang_sel_click img.iclflag{
    top: -1px;
    margin: 0 5px;
}
#lang_sel_click a.lang_sel_sel{ background-position: left; }
.search-form .search-field{
	padding-left: 60px;
	padding-right: 10px;
}
.nip ul li{
	padding: 1px;
}
.nip .first-item img{
	height: 235px;
    width: 360px;
}
.error-page .mom-archive .mom-archive-title h2{
	text-align: right;
}
/* ==========================================================================
 *                bbPress
   ========================================================================== */

#bbp-search-form #bbp_search {
    border-width: 1px 1px 1px 0;
    padding-right: 10px;
    padding-left: 60px;
}
#bbp_search_submit {
    right: auto;
    left: 0;
}

li.bbp-forum-freshness, li.bbp-topic-freshness {
    text-align: left;
}
li.bbp-forum-topic-count .mom-main-color, li.bbp-topic-voice-count .mom-main-color, li.bbp-forum-reply-count .mom-main-color, li.bbp-topic-reply-count .mom-main-color {
    margin-right: 0;    
    margin-left: 3px;    
}

#bbpress-forums .bbp-forum-freshness img.avatar {
    float: left !important;
    margin-left: 0 !important;
    margin-right: 10px !important;
}


#bbpress-forums .mom-bbp-topic-avatar {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}

#bbpress-forums .mom-bbp-topic-data {
    float: right;
}

#bbpress-forums .mom-bbp-topic-counts {
    float: left;
}


#bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content {
    margin-right: 80px;
    margin-left: 0;
}
#bbpress-forums div.bbp-forum-author, #bbpress-forums div.bbp-topic-author, #bbpress-forums div.bbp-reply-author {
    margin-right: 0;
    margin-left: 15px;
}

#bbpress-forums #bbp-user-body {
    margin-right: 150px;
    margin-left: 0;
}
.widget_display_stats dt {
    float: right;
}
.widget_display_stats dd {
    float: left;
}
.nb2 .first-item h2 {
    clear: both;
}
/* ==========================================================================
 *                Responsive
   ========================================================================== */

 @media only screen and (max-width: 800px) and (min-width: 0){
	 .header .mom-ads{
		 margin: 30px 0 0 -70px;
	 }
/*  	top menu */
	 .device-top-menu-wrap{
		 float: right;
	 }
	 .mobile-menu .mobile-menu-icon{
		 float: right;
	 }
	 .device-top-nav{
		 left: auto;
		 right: 0;
	 }
	 .device-top-nav li .responsive-caret{
		 right: auto;
		 left: 0;
		 border-width: 0 1px 0 0;
	 }
	 .device-top-nav li ul li a:before{
		 float: right;
		 margin-right: 0;
		 margin-left: 5px;
	 }
	 .device-top-nav li ul li a{
		 padding-right: 30px;
		 padding-left: 0;
	 }
/* 	 Main menu */
	.dl-menuwrapper li.dl-back:after{
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.fixed-header .device-menu-wrap{
		right: auto;
		left: 0;
	}
	 .device-menu-holder .mh-icon{
		 left: auto;
		 right: -1px;
		 float: right;
		 margin-left: 13px;
		 margin-right: 0;
	 }
	 .device-menu-holder .mh-caret{
		 right: auto;
		 left: -1px;
	 }
	 #navigation .device-menu li.menu-item a i{
		 float: right;
		 margin-right: 0;
		 margin-left: 10px;
	 }
	 #navigation .device-menu li.menu-item > a .menu_bl{
		 float: right;
		 right: -15px;
		 left: auto;
	 }
	 #navigation .device-menu li .responsive-caret{
		 border-left: none;
		 border-right: 1px solid #000;
		 right: auto;
		 left: 0;
	 }
	 #navigation .device-menu .mom-megamenu .sub-menu{
		 float: right;
	 }
	 #navigation .device-menu .mom-megamenu .sub-mom-megamenu ul li img, #navigation .device-menu .mom-megamenu .sub-mom-megamenu2 ul li img{
		 float: right;
		 margin: 0 0 0 14px; 
	 }
	 #navigation .device-menu .mom-megamenu .sub-mom-megamenu ul li h2, #navigation .device-menu .mom-megamenu .sub-mom-megamenu2 ul li h2{
		 text-align: right;
	 }
	 .navigation .mom-megamenu .sub-mom-megamenu2 ul, .navigation .mom-megamenu .sub-mom-megamenu ul{
		 border-right: 1px solid black; 
	 }
	 .the_menu_holder_area i{
		 float: right;
		 margin: 0 0 0 10px;
	 }
	 .footer-bottom .alignright,
	 .footer-bottom .alignleft{
		 float: none;
	 }
	 ul.footer-bottom-social li{
		 float: none;
	 }
	 .col2 footer.footer .footer-widget,
	 footer.footer .footer-widget{
		 border-left: none;
	 }
	 footer.footer .footer-widget:first-child{
		 border-left: 1px solid #1A1A1A;
	 }
	 .col2 .scroller2 li,
	 .scroller2 li{
		 width: 257px;
	 }
/* 	 category */
	.category .cat-grid li img{
		float: right;
		margin: 0 0 0 15px;
	}
	#navigation .device-menu-holder .menu_bl{
		left: auto;
		right: -15px;
	}
	.breaking-news .brmenu{
		border-right: none;
		border-left: 1px solid black;
	}
	.cat-slider-mpop-head h2{
		margin: 0 17px 0 0;
	}
	.weather-switch-tabs .w-unit{
		padding: 0 15px;
	}
	.cat-body .nb1 li .post-format-icon:before{
		top: 144px;
		bottom: auto;
	}
	.col2 .cat-slider-item img, .cat-slider-item img{
		height: 370px;
	    width: 544px;
	}
	.col2 .cat-slider-wrap,
	.cat-slider-wrap{
		width: 100%
	}
	.cat-slider .slider-widget-nav{
		left: auto;
		right: 0;
	}
	.col2 .cat-slider-pop, .cat-slider-pop, .col2 .cat-slider-mpop-head .cat-slider-pop{
		left: 0;
	}
	.col2 .cat-slider-mpop .slider-mpop-big, .cat-slider-mpop .slider-mpop-big{
		margin: 0 0 5px 14px;
	}
	.cat-slider-mpop .slider-mpop-big:last-of-type{
		margin-left: 0;
	}
	.cat-body .nb1.cat-list li .post-format-icon:before{
		top:125px;
	}
/* 	pages */
	.adv-search-form .submit{
		margin-top: 33px;
	}
	.media-sort-title{
		display: none;
	}
/* 	widgets */
	ul.social-widget li:nth-child(6n+6){
		margin-left: 7px;
	}
	ul.social-widget li:nth-child(-n+10){
		margin-top: 7px;
	}
	ul.social-widget li:nth-child(-n+9){
		margin-top: 0;
	}
	.sidebar .social-counter li{
		margin: 10px 4px 0 0;
	}
	.sidebar .social-counter li:nth-child(4n+4){
		margin-right: 4px;
	}
	.news-pics-widget li:nth-child(4n+4){
		margin-right: 0;
		margin-left: 4px;
	}
}
	@media only screen and (max-width: 568px) and (min-width: 0){
/* 		Header */
		.breaking-news-items{
			padding-right: 0;
		}
		.breaking-cont{
				border-right: 1px solid black;
				width: 87%;
		}
		ul.br-right li:last-child{
			border-left: 1px solid black;
		}
/* 		weather page */
		.weather-data-wrap{
			padding: 0 147px 0 0;
		}
		.week-weather-box li .weather-results .weather-icon{
			left: -4px;
		}
		.weather-results .weather-icon i.icon-sunny::after{
			left: 25px;
		}
		form#find-weather{
			margin-right: 137px;
		}
/* 		media page */
		.media-items-list li#m-items{
			margin: 30px 0 0 40px;
		}
		.media-items-list li#m-items:nth-child(2n+2){
			margin-left: 0;
		}
		.media-items-list #m-items:nth-child(4n+3){
			margin-left: 40px;
		}
/* 		category */
		.cat-body .nb1 li .post-format-icon:before{
			top: auto;
			bottom: -87px;
		}
		.col2 .cat-slider-item img, .cat-slider-item img{
			width: 408px;
			height: 277px;
		}
		.cat-body .nb1 .fix-right-content{
			padding: 0 167px 0 0;
		}
		.cat-body .nb1.cat-list li .post-format-icon:before{
			top: 71px;
		}
/* 		Search page */
		.search .nb1 img{
			float: right;
			margin: 0 0 0 15px;
		}
		.search-page .nb1 ul li{
			border-width: 0 0 1px;
		}
		.search-page .nb1 ul li:nth-child(2n+2){
			border-left: none;
		}
/* 		news boxes */
		ul.f-tabbed-list .f-p-title .post-format-icon:before{
			top: 60px;
		}
		.nb1 img,
		.nb2 .first-item img,
		.nb3 .first-item .post-thumbnail img,
		.nb4 .first-item img,
		.nb6 ul li .post-thumbnail img {
		    float: right;
		    margin: 0 0 0 15px;
		}
		.nb1 ul li{
			border-width: 0 0 1px;
		}
		.nb1 ul li:last-child{
			border-bottom: none;
		}
		ul.f-tabbed-grid li{
			float: right;
			margin: 0 0 10px 10px;
		}
		.nb2 ul, .nb4 ul{
			border-right: none;
		}
		.nb6 ul li,
		.nb3 .first-item{
			border-width: 0 0 1px;
		}
		.nip .first-item{
			float: none;
			margin: 0 0 7px;
		}
		.nip ul li{
			float: right;
			margin: 0 0 6px 6px;	
		}
		.nip ul li:nth-child(2n+2) {
			margin-left: 6px;
			margin-right: 0;
		}
		.nb1 .fix-right-content, .nb2 .fix-right-content, .nb3 .fix-right-content, .nb4 .fix-right-content, .nb5 .fix-right-content, .nb6 .fix-right-content{
			padding-left: 0;
			padding-right: 145px;
		}
/* 		scroller */
		.scroller ul li{
			float: none;
			margin: 0 auto;
			left: 0;
		}
		.col2 .scroller2 li, .scroller2 li{
			width: 188px;
		}
		.col2 .scroller2 li img{
			width: 100%;
			height: auto;
		}
/* 		widgets */
		ul.social-widget li{
			margin: 5px 5px 0 0;
		}
		.news-pics-widget li:nth-child(6n+6){
			margin-right: 0;
		}
		.sidebar .social-counter li:first-child{
			margin-right: 4px;
		}
		.nip ul li:nth-child(4n+4){
			margin-left: 0;
		}
		.login-pwd-wrap{
			margin-right: 0;
		}
		ul.social-widget li:nth-child(6n+6){
			margin-left: 5px;
			margin-right: 5px;
		}
		ul.social-widget li:nth-child(-n+10){
			margin-top: 5px;
		}
		ul.social-widget li:nth-child(-n+7){
			margin-top: 0;
		}
		ul.social-widget li:nth-child(10n+10){
			margin-right: 5px;
		}

/* bbpress */

#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
    float: right;
    margin-right: 0;
    margin-left: 15px;
}
#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
    margin-right: 135px;
    margin-left: 0;
}
#bbpress-forums #bbp-user-body {
    margin: 0;
    width: 100%;
    clear: both;
}

	}
	@media only screen and (max-width: 450px) and (min-width: 0){
		.header .mom-ad,
		.header .mom-ads{
			width: 370px !important;
			height: 35px !important;
		}
		.header .mom-ad img{
			width: 440px;
			height: auto;
		}
		.breaking-news .brmenu{
			right: auto;
			left: 0;
			width: 45px;
		}
		.breaking-news .br-right{
			width: 45px;
		}
		ul.br-right li a{
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			width: 45px;
			padding: 0;
		}
/* 		newsboxes */
		ul.f-tabbed-sort li a{
			padding: 10px 1px 10px 1px;
		}
		ul.f-tabbed-sort li span{
			right: 1px;
		}
		ul.f-tabbed-sort li.list a{
			padding: 10px 1px 10px 1px;
		}
		.col2 .scroller ul li, .scroller ul li{
			left: -28px;
		}
		.col2 .scroller2 li, .scroller2 li{
			width: 337px;
		}
/* 		category */
		.col2 .cat-slider-item img, .cat-slider-item img{
			width: 339px;
			height: 222px;
		}
/* 		weather page */
		form#find-weather{
			margin: 0;
		}
		.week-weather-box .t-w-title{
			padding: 2px 0 1px 6px;
		}
		.week-weather-box li{
			padding: 0 6px 0 0;
			border-right: 1px solid #e4e4e4;
			border-left: none;
		}
		.week-weather-box .t-w-title{
			padding: 2px 0 1px 10px;
			border-right: none;
			border-left: 1px solid #e4e4e4;
		}
		.week-weather-box div{
			float: right;
		}
		.week-weather-box li .weather-results-status{
			border-right: none;
			border-left: 1px solid #e4e4e4;
		}
		.week-weather-box li .weather-results span{
			float: right;
			margin-left: 0;
			margin-right: 47px;
			padding: 0 11px 0 9px;
		}
		.week-weather-box li .weather-results small{
			margin-left: 0;
			margin-right: 107px;
			padding-left: 0;
			padding-right: 1px;
		}
		.weather-results .weather-icon i.icon-sunny::after{
			left: -24px;
		}
		.week-weather-box li .weather-results span:before{
			right: 0;
			left: auto;
		}
		.week-weather-box li .weather-results .weather-icon{
			left: -9px;
		}
/* 		media page */
		.media-items-list #m-items:nth-child(4n+3),
		.media-items-list li#m-items{
			margin-left: 8px;
		}
/* 		search page */
		.adv-search-form .adv-s-cat, .adv-search-form .adv-s-month, .adv-search-form .adv-s-format,
		.adv-search-form input.adv-s{
			margin-right: 0;
		}
		.adv-search-form select#adv-cat{
			margin-left: 10px;
		}
		.sidebar .social-counter li{
			margin: 6px 4px 0 0; 	
		}
/* bbpress */
#bbpress-forums .mom-bbp-topic-counts {
    display: none;
}
#bbpress-forums .mom-bbp-topic-data {
    width: 100%;
}
	}
	@media only screen and (max-width: 360px) and (min-width: 0){
/* 		header */
		.breaking-cont{
			width: 83%;
		}
		ul.f-tabbed-grid li .f-p-title{
			padding: 11px 11px 14px 26px;
		}
		ul.f-tabbed-list .f-tabbed-list-content{
			margin-right: 0;
		}
		ul.f-tabbed-list .f-p-title .post-format-icon:before{
			top: 147px;
			bottom: auto;
			margin: 0;
		}
		.nb1 .fix-right-content, .nb2 .fix-right-content, .nb3 .fix-right-content, .nb4 .fix-right-content, .nb5 .fix-right-content, .nb6 .fix-right-content{
			padding-right: 0;
		}
		.col2 .scroller2 li, .scroller2 li{
			width: 257px;
			border-left: none;
		}
		.col2 footer.footer .footer-widget .widget:before{
			left: -35px;
		}
		.mom-share-buttons{
			padding: 0;
		}
/* 		category */
		.col2 .cat-slider-item img, .cat-slider-item img{
			width: 259px;
			height: 182px;
		}
		.category .cat-body .nb1 .fix-right-content{
			padding: 0;
		}
		.cat-body .nb1.cat-list li .post-format-icon:before{
			top: 145px;
		}
/* 		pages */
		.adv-search-form span{
			 margin-top: -4px;
		}
		.adv-search-form .submit{
			margin-top: 20px;
			margin-right: 0;
		}
		.media-main-content ul.f-tabbed-sort li a span{
			display: none;
		}
/* 		weather page */
		.week-weather-box li{
			padding: 0 3px 0 0;
		}
		.weather-switch-tabs .w-unit{
			padding: 0 10px;
		}
		.week-weather-box .t-w-title{
			padding: 2px 0 1px 5px;
		}
		.week-weather-box .weather-results{
			width: 86px;
		}
		.week-weather-box li .weather-results .weather-icon{
			left: -4px;
		}
		.week-weather-box li .weather-results span{
			margin-right: 41px;
		}
		.week-weather-box li .weather-results small{
			margin-right: 52px;
		}
/* 		widgets */
		ul.social-widget li:nth-child(6n+6){
			margin-left: 0;
		}
		.w-item-title .w-item-status{
			margin: 0 10px 0 0;
		}
		.sidebar .social-counter li{
			margin: 4px 0 0 4px !important; 
		}
		.sidebar .social-counter li:nth-child(4n+4){
			margin: 4px 0 0 4px !important; 
		}
	}